[2016-06-12 05:14] zeeshanjan82 opened #1 "FB is not defined"
After installing this library and putting the init code in constructor I get the error: FB is not defined. The issue is coming in this line in the library:
[code]

[2016-06-12 10:22] ihadeed commented on #1
Hey there,

Can you share the code you are using?

Also, see here: https://github.com/zyramedia/ng2-facebook-sdk#initparams-facebookinitparams-void

[2016-06-12 10:29] zeeshanjan82 commented on #1
I was able to fix this issue by adding reference to facebook sdk url but it is not mentioned in readme probable readme needs an update. But now I m getting error in google chrome which is related to script being blocked by the browser but it works fine on ie

[2016-06-12 10:29] #1 closed

[2016-07-12 03:55] jlsuarezs opened #2 "Ionic 2 - FB is not defined"
HI,

I am trying to use your module in Ionic 2 without success.

Error:
     FB is not defined

And I've already executed:

[code]
Any help?

Thank you!

[2016-07-12 04:06] ihadeed commented on #2
Hey there,

Did you include the Facebook JavaScript SDK in your index.html ?

[2016-07-12 04:16] ihadeed commented on #2
If you are developing a native mobile app with Ionic 2 I suggest that you have a look at this http://ionicframework.com/docs/v2/native/facebook/

That plugin uses the native Android/iOS Facebook SDKs. It performs better on mobile devices. It also uses the existing session if you are logged in via the Facebook app, unlike the JavaScript SDK which opens up the browser and asks you to login.

I've on

[2016-07-16 04:05] #2 closed

[2016-08-16 20:28] Dralac opened #5 "ReferenceError: FB is not defined"
@ihadeed I checked the closed issues, but nothing worked on my side. I've a script that includes FB SDK in header.
I'm trying to implement this with angular-universal starter project https://github.com/angular/universal-starter
Here is the component I'm trying to add FB login code provided in readme: https://github.com/angular/universal-starter/blob/master/src/app/home/home.component.ts

Any hints

[2016-08-21 08:38] ethanoic commented on #5
Having the same problems here today, @Dralac have you found a solution yet? its weird cos it worked the first time and subsequently the problem happens

[2016-08-21 16:30] Dralac commented on #5
@ethanoic No, I didn't work on it yet, probably I'll try to solve it mid next week if we don't get any feedback.

[2016-08-21 16:33] ihadeed commented on #5
Hey there,

Did you include the Facebook JavaScript SDK in your index.html?

This library is only a wrapper and does not actually contain the Facebook SDK. I apologize if the name is misleading.

You must add `//connect.facebook.net/en_US/sdk.js` in a script tag before including the main app's JavaScript file.

[2016-08-21 16:40] Dralac commented on #5
Hi @ihadeed

Yes, SDK is available in index header on my side, as I stated above. Therefore I'm not sure why it's not working since everything is by the book. Seems it's initialized before SDK is ready. Not sure if you are using fbAsyncInit that ensures plugin is loaded when ready?

Thank you

[2016-08-21 16:47] ihadeed commented on #5
@Dralac

No I'm not using `fbAsyncInit`.

I just used this wrapper in an Angular 2 (RC5) application and it worked fine.

My code looks something like this:
[code]

I don't see why the `fbAsyncInit` is needed since their JavaScript SDK is loaded synchronously as the page loads. As I understand, that method is used in case you would like to load the library asynchronously. ( See https://developers.

[2016-08-21 17:02] Dralac commented on #5
@ihadeed

You have a point, I just wanted to know if fbAsyncInit is supported so we can try that. I'll just consider this as an issue in universal or in my code. Anyway, thank you for your feedback. Cheers!

[2016-08-21 17:03] ihadeed commented on #5
Can you provide the code you are using?

I haven't looked deeply into Angular Universal (waiting for things to get
stable). How does the implementation/script injection differ there?

On Aug 21, 2016 1:02 PM, "Dražen Radanović" <notifications@github.com>
wrote:

[2016-08-22 03:58] sunshineo opened #8 "Can we change from Promise to Observable?"
It seems to me that Angular2 is all Observable yet this project is using Promise.
Result in the code I wrote looks very strange. And I'm having a hard time to chain things properly.

[2016-08-22 05:07] ihadeed commented on #8
Observables are usually used for events (their callback can be triggered
multiple times). Promises are used when the callback gets triggered once,
which seems to be the case with the Facebook JavaScript SDK.

On Aug 21, 2016 11:58 PM, "sunshineo" <notifications@github.com> wrote:

[2016-08-22 06:47] sunshineo commented on #8
But @angular/http does not return Promise but Observable.

[2016-09-07 23:54] Dralac commented on #5
@ihadeed
Sorry, I was on vacation. I think that issue is in angular universal, since I managed to use this project with pure angular code.
Thanks or your time anyway, I'll close this one.
Cheers!

[2016-09-07 23:54] #5 closed

[2016-10-14 06:36] ihadeed commented on #8
I had a look at the API again and I don't think any of the methods need to return an Observable. Going to close this for now. But if you can share a use case where an observable would make more sense, we can investigate this further.

[2016-10-14 06:36] #8 closed

[2016-10-17 13:14] ashjha opened #19 "FB is not define"
error_handler.js:47EXCEPTION: Uncaught (in promise): Error: Error in ./LoginComponent class LoginComponent_Host - inline template:0:0 caused by: FB is not defined

[2016-10-17 13:14] ihadeed commented on #19
@ashjha did you load the Facebook JavaScript SDK in your index.html ?

[2016-10-17 13:16] ashjha commented on #19
Ooops ! sorry now it is working thank you :)

[2016-10-17 13:17] ihadeed commented on #19
You're welcome :) @ashjha

[2016-10-17 13:17] #19 closed

[2016-10-17 13:24] ashjha commented on #19
Hey ! sometimes angular 2 load before loading sdk any solution for that ?

[2016-10-17 13:26] ihadeed commented on #19
@ashjha are you using `async` tag when including their `.js` file? If you are using it, take that out so it loads as soon as the user goes on the page.

If that still doesn't solve your issue, you can add a timeout on the method that is running on startup.

[2016-10-17 13:28] ashjha commented on #19
No , here is my code

<script>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<app-root>
  <div class="loader"></div>
</app-root>

[2016-10-17 13:30] ihadeed commented on #19
Yeah instead of that, use this:
[code]

[2016-10-17 13:32] ashjha commented on #19
Solved , Thank you again :+1: )

[2016-10-17 13:33] ihadeed commented on #19
You're welcome @ashjha !

[2016-10-20 05:11] ashjha opened #21 "Thanks , it is working"
HI , it is working fine now i am searching for same type of thing for linkedin but could not find any solution  . can you help me ?

[2016-10-23 19:59] ihadeed commented on #21
@ashjha No sorry, not aware of any libraries for LinkedIn. I just do `declare var` to use libraries with no typings/wrappers.

[2016-10-23 19:59] #21 closed

[2016-10-27 18:07] AArmin opened #22 "FacebookUiParams interface is missing a required attribute"
I've tried using the ui method for a share dialog, but it's interface is missing a required href attribute so I cannot pass FacebookUiParams correctly. I've created a pull request that takes care of this.

[2016-11-07 16:04] snstarosciak opened #23 "FB is not defined"
Hey there,

I've added this npm module to my project and followed all of the instructions, however when I try to load my app it says "FB is not defined". Any idea what this could be?

[2016-11-07 16:17] ihadeed commented on #23
Did you include the Facebook JavaScript SDK in your index.html file?

On Nov 7, 2016 11:04 AM, "Stevie Starosciak" <notifications@github.com>
wrote:

[2016-11-07 19:09] snstarosciak commented on #23
Hey man, thanks for replying so quickly. Yes I did. Here's the code I'm using that's causing the problem.

In my users.provider.ts file:

[code]

Inside of my app.module.ts:

[code]

I should note that I'm also using Ionic 2 . Here is a snippet from my package.json

[code]

I should also note that in order to get this npm module to be picked up by webpack and exported, I had to add it into the Ion

[2016-11-14 14:19] Arf291 opened #24 "FB Login email permissions"
Hello,

I have used this library and it works perfectly, but I would like to know how to get the logged user's email. I Facebook Developers documentation it says we can ask for [different permissions](https://developers.facebook.com/docs/facebook-login/permissions) besides the default basic ones. Well, I have read that it can be asked in the Login() method, as it can be seen in the [Javascript SDK

[2016-11-15 22:02] photostu commented on #22
Any chance of getting this PR merged?
+1 on this issue

[2016-11-16 10:49] Arf291 commented on #24
I got it. In case it is useful, I just created a `FacebookLoginOptions` variable with `scope` attribute with `email` value, when calling the login function. Then in the API call for getting user data I added the email in the fields list  In the reference documentation I left before it is explained, but not for Typescript.

This is the example code:
[code]

[2016-11-17 15:37] #24 closed

[2016-11-24 07:56] ihadeed commented on #22
Just pushed a commit that completes the UI typings :) please update to latest version.

[2016-11-24 07:56] #22 closed

[2016-11-27 19:46] SimoneCafiero commented on #23
Hi,
on my side I got this message:

I included in index.html what follows:

Then in the systemjs.config.js:

[code]

Any idea?

[2016-11-27 19:53] SimoneCafiero opened #25 "404 GET <PATH>/node_modules/ng2-facebook-sdk/dist.js"
Hi,
on my side I got this message:

I included in index.html what follows:

Then in the systemjs.config.js:

[code]

Any idea?

[2016-11-28 09:19] ihadeed commented on #25
Use this instead under `packages`:

[code]

[2016-11-28 09:22] ihadeed commented on #23
I don't see a problem with your code. Can you double check that this line `<script src="https://connect.facebook.net/en_US/sdk.js"></script>` is in your `index.html` before importing the app's main JavaScript file?

[2016-11-28 09:36] SimoneCafiero commented on #25
Hi ihadeed,
thanks but that didn't solve the issue.

Same problem.

[2016-11-28 16:55] ihadeed commented on #25
How are you importing the provider from the npm package?

[2016-11-28 17:46] ricardogomes opened #26 "API usage examples"
Hi

Do you have any API usage examples?

I'm trying to get the pages a user manages, to ultimately post to them.

This is a snippet of my code, but I'm not getting the same response as in the Graph Explorer

[code]

Thanks for this project, and your help.

[2016-11-29 09:26] ihadeed commented on #26
Here's a block of code that I'm using in one of my applications:

[code]

[2016-11-29 10:23] ricardogomes commented on #26
Thanks @ihadeed it's was just a dumb bug. I forgot to pass the options to the login method.

[2016-11-29 10:23] #26 closed

[2016-11-29 18:57] SimoneCafiero commented on #25
Hi ihadeed,
thanks: that **solved** the issue.

Simone

[2016-11-29 19:06] ihadeed commented on #25
Thanks for your feedback! Glad you got it working.

[2016-11-29 19:06] #25 closed

[2016-12-01 09:33] kleeb opened #27 "Invalid version specified."
Angular2 / Ionic2 app.
App is not being initialised and throws **invalid version specified**

Changing ```https://connect.facebook.net/en_US/sdk.js``` to ```https://connect.facebook.net/en_US/all.js``` solves the problem. Should it be like that?

[2016-12-01 16:43] ihadeed commented on #27
That shouldn't be happening.

Are you specifying a version when you call the `init()` function?

In one of my applications, https://justpost.io, I'm specifying version `v2.6` and it's working fine.

[2016-12-05 08:29] kleeb commented on #27
sure I am
couple days ago I was specifying version 2.8, as this is the latest one and everything worked
they must have changed something

anyone know the difference between sdk.js and all.js ?

[2016-12-05 13:22] ihadeed commented on #27
@kleeb http://stackoverflow.com/questions/38462764/difference-between-facebook-all-js-and-sdk-js

[2016-12-05 15:25] kleeb commented on #27
my fault, it works with version specified (no matter v2.8, v2.6 or other).
problems occurs when you don't specify anything (null or undefined)

[2016-12-05 15:25] #27 closed

[2016-12-05 23:52] oswaldosalazar opened #28 "Logout not working"
Hello all,
I'm currently using this in my project:
FBLogout() {
    this.fb.logout()
    .then(response => {
      console.log("Logout?", response);
    })
}
I assigned the function to a button and when I click it I get an error:
Refused to display 'https://www.facebook.com/home.php' in a frame because it set 'X-Frame-Options' to 'DENY'. And the user is still logged in. The console.log in never sh

[2016-12-06 16:54] AndrewReborn opened #29 "FacebookUIParams interface requires href property"
Trying to set the href property of the FacebookUiParams object, this error is returned while building: Object literal may only specify known properties, and 'href' does not exist in type 'FacebookUiParams'

[2016-12-06 17:40] AndrewReborn commented on #29
Sorry, my bad: had an old version of ng2-facebook-sdk in cache

[2016-12-06 17:40] #29 closed

[2016-12-07 07:34] oswaldosalazar commented on #28
I sent you an email.

[2016-12-07 12:24] gauravv7 commented on #25
'ng2-facebook-sdk/dist': 'npm:ng2-facebook-sdk/dist/ng2-facebook-sdk.js', // mapping in system-config file
 packages: {
 ....
      'ng2-facebook-sdk/dist': {
        defaultExtension: 'js'
      }
    } // in system-config file

then all the imports works as given in the docs, works for me

[2016-12-07 19:41] ihadeed commented on #28
@oswaldosalazar Yes I got it. I will have a look at this later this evening or tomorrow morning.

[2016-12-08 00:17] ihadeed commented on #28
@oswaldosalazar did you try this solution here: https://github.com/Ciul/angular-facebook/issues/92#issuecomment-77672899

[2016-12-08 22:29] rodneyjoyce opened #30 "Does this library help to embed FB page plugins?"
Hello,

Does this library help to embed FB page plugins?
https://developers.facebook.com/docs/plugins/page-plugin

[2016-12-09 02:02] ihadeed commented on #30
@rodneyjoyce no it doesn't. I just had a quick look at the link. It seems like they just require you to add an HTML markup. I don't see why an Angular 2 service/component is needed here.

[2016-12-09 17:53] rodneyjoyce commented on #30
@ihadeed : I tried to embed the HTML but it does not render. In Angular1 I was using a NPM library that rendered it correctly. I had the same issue with the AddThis widget.

[2016-12-11 00:27] ihadeed commented on #30
@rodneyjoyce can you send me a link of the library so I can have a look at what they did and try to replicate it for Angular 2?

[2016-12-12 22:26] rodneyjoyce commented on #30
Ok, so the library that I was using for ng1 and Facebook was this one:  https://github.com/pc035860/angular-easyfb

[2016-12-17 07:29] gauravv7 opened #31 "login redirect uri blocked"
Facebook login dialog says: "uri blocked",
I checked the return url for the test environment i created, but the url was not updating,
Checked in the changes for Fb.FacebookUiParams also but it is not updating, some staticxx.facebook.com url is always coming as the return URI in facebook login dialog.
Any solutions?

[2016-12-20 16:48] crsepulv opened #32 "FacebookUiParams Interface"
I'm trying to use FB.ui with the [Go Live Dialog](https://developers.facebook.com/docs/videos/live-video/exploring-live#golivedialog),  but transpiler says `Argument of type '{ display: string; method: string; phase: string; }' is not assignable to parameter of type 'FacebookUiParams'`

checking read.me there is no specification for FacebookUiParams Interface.

Do you have a time scope to add it?

[2016-12-20 17:06] joejordanbrown commented on #32
#33

[2016-12-22 06:02] gauravv7 commented on #31
anyways i issued a test api for this, for the time being

[2016-12-25 09:52] ihadeed commented on #31
Can you provide steps to reproduce this issue?

I think you need to add your development URI as a valid redirect URI in your app settings (in Facebook Developers Console).

[2016-12-25 09:53] ihadeed commented on #32
Merged the PR and will publish a new release now.

[2016-12-25 09:53] #32 closed

[2016-12-27 10:32] ujjalsuttradhar opened #34 "(SystemJS) Unexpected token <"
1. Added this module to app from npm
2. Added facebook sdk in index.html

[code]

component.ts
[code]

Whenever I use FacebookService (provideres, constructor),  I am getting unexpected token error. Can you help me?

[2016-12-27 10:46] ujjalsuttradhar commented on #34
FYI, Just have downloaded ng2-facebook-sdk.ts and imported FacebookService directly from this which worked properly. Seems your npm package need to be updated.

[2016-12-27 11:57] ihadeed commented on #34
Did you modify your systemjs configuration to load the files properly?

The error you're getting is most likely caused by a 404 error. SystemJS isn't able to find the NPM package.

[2016-12-27 15:14] ujjalsuttradhar commented on #34
Which file needed to modify related to systemjs?

[2016-12-27 15:33] ihadeed commented on #34
See https://github.com/zyramedia/ng2-facebook-sdk/issues/25#issuecomment-263220566

[2016-12-27 18:32] ujjalsuttradhar commented on #34
Thanks. Problem is solved. For future reference, following changes solved my problem.

[code]

[2016-12-27 18:32] #34 closed

[2017-01-12 08:17] pawelkondraciuk opened #35 "Missing parameter in FacebookAuthResponse"
`grantedScopes` is missing in `FacebookAuthResponse`, it is returned when `return_scopes` is passed.
[Docs](https://developers.facebook.com/docs/reference/javascript/FB.login/v2.8)
<img width="681" alt="screen shot 2017-01-12 at 09 03 44" src="https://cloud.githubusercontent.com/assets/7136191/21881764/ea96651a-d8a7-11e6-9f63-93fb15a5b833.png">

[2017-01-15 15:31] ihadeed commented on #35
Thanks I'll add this soon.

[2017-01-19 20:44] bencameron00 opened #36 "Added email permission request to the auth URL"
This is a great component so thank you.

Is there anyway that I can add requested permissions to the login url?
For example I want to add the email permission request so I think I have to add a parameter to the url....

"You can do this if you are using Facebook connect by passing scope=email in the get string of your call to the Auth Dialog."

http://stackoverflow.com/questions/3611682/facebook-g

[2017-01-19 21:59] bencameron00 commented on #36
I figured it out myself, you can pass a param into the login call...

let options: FacebookLoginOptions = {
        scope: 'email'
    }

    this.fb.login(options).then(

[2017-01-19 22:00] #36 closed

[2017-01-19 22:00] bencameron00 commented on #36
I figured it out myself, the feature is already built. You can pass a param into the login call...

let options: FacebookLoginOptions = {
        scope: 'email'
    }

    this.fb.login(options).then(

[2017-01-20 09:55] gagansawhney opened #37 "Login SDK works find but fb.api call returns only name and id"
I am able to log in and the response from server shows that i am connected with access token etc..

However, when i make an API call

this.fb.api('/me?fields: email', 'get').then(
            (response: FacebookLoginResponse) => console.log(response),
            (error: any) => console.error(error)
        )

I only get the id and name of user. Cant seem to get the email. In the authResponse obje

[2017-01-20 10:30] gagansawhney commented on #37
Never mind. It turns out i had to write the full path:

https://graph.facebook.com/me?fields=id,email,first_name,gender,last_name,link,locale,name,timezone,updated_time,verified

as the first parameter instead of just /me.

[2017-01-20 10:30] #37 closed

[2017-01-20 12:13] suranan opened #38 "EXCEPTION: Uncaught (in promise): Error: Error in :0:0 caused by: FB is not defined"
Hello,

I got some error like this

EXCEPTION: Uncaught (in promise): Error: Error in :0:0 caused by: FB is not defined
Error: Error in :0:0 caused by: FB is not defined
    at ViewWrappedError.ZoneAwareError (http://localhost:4200/vendor.bundle.js:111699:33)
    at ViewWrappedError.BaseError [as constructor] (http://localhost:4200/vendor.bundle.js:6905:16)
    at ViewWrappedError.WrappedError [as

[2017-01-20 15:41] ihadeed commented on #38
You need to add the Facebook JavaScript SDK to your `index.html` BEFORE your app's script. See https://github.com/zyramedia/ng2-facebook-sdk#installation.

[2017-01-20 15:59] suranan commented on #38
thank you.

[2017-01-20 16:08] #38 closed

[2017-01-20 19:05] #35 closed

[2017-01-20 19:06] ihadeed commented on #35
This is added and is available in the latest version `1.2.0`

[2017-01-24 08:00] pickAUserName3 opened #39 "Failed to load resource http://localhost:3000/ng2-facebook-sdk"
Browser gets stuck at loadiing.

Developer tools console shows the following
http://localhost:3000/ng2-facebook-sdk Failed to load resource: the server responded with a status of 404 (Not Found)

I have followed the steps in the readme. I am just running the basic example.

Thanks in advance for your help!

[2017-01-24 08:12] ihadeed commented on #39
I'm guessing you're using  systemjs? Please see https://github.com/zyramedia/ng2-facebook-sdk/issues/25#issuecomment-263220566.

[2017-01-25 07:43] pickAUserName3 commented on #39
Thanks ihadeed, that was what I needed. I also want to use facebook login via pop up.Do you have an example I can refer to?

I tried using the UI method but that just takes me to a complete Facebook login in a pop up. I would like to just see the username and password frame in pop up instead.

FBDialog() {
    this.fb.ui(
      {
        method: 'auth.login',
       })
      .then(
        (respon

[2017-01-25 23:57] ihadeed commented on #39
@pickAUserName3 see https://github.com/zyramedia/ng2-facebook-sdk#login

[2017-01-25 23:57] #39 closed

[2017-01-29 11:41] #23 closed

[2017-01-29 11:41] #28 closed

[2017-01-29 11:46] #31 closed

[2017-02-02 10:35] BearandYoon opened #40 "Facebook API Call using ng2-facebook-sdk"
I am using ng2-facebook-sdk to call some facebook endpoint on our project.
I have logged in using login endpoint of ng2-facebook-sdk.
I am trying to call acounts endpoint with manage_pages, publish_pages, pages_show_list options
FB.api(
    "/{user-id}/accounts",
    function (response) {
      if (response && !response.error) {
        /* handle the result */
      }
    }
);

how can I use the n

[2017-02-02 10:40] ihadeed commented on #40
@BearandYoon you will need to use the `api` method.

[code]

[2017-02-02 15:24] #40 closed

[2017-02-04 16:06] bencameron00 commented on #23
Was there any solution to this problem? I am having the same issue.

[2017-02-05 10:38] ihadeed commented on #23
@bencameron00 see my last comment. Are you including the Facebook SDK JavaScript file before your app's code?

[2017-02-05 15:34] bencameron00 commented on #23
I sure do. The last line of the 'head' section is...

<script type="text/javascript" src="https://connect.facebook.net/en_US/sdk.js"></script>

My main app is declared after that.

In one of my components I am trying to call the below which is causing the error...

        let fbParams: FacebookInitParams = {
            appId: 'XXX',
            xfbml: true,
            version: 'v2.6'
        };

[2017-02-05 15:43] ihadeed commented on #23
@bencameron00 what is the exact error you're getting? do you have any Ad blockers, Tracker blockers, Widget blockers installed on your browser (they sometimes block the facebook script)?

[2017-02-05 15:45] bencameron00 commented on #23
No blockers at all. I am seeing this error...

An unhandled exception occurred while processing the request.

Exception: Call to Node module failed with error: Error: Uncaught (in promise): ReferenceError: FB is not defined
ReferenceError: FB is not defined
at FacebookService.init (C:\Projects\TileCase.V2\TileCase.V2.JavaScriptServices\ClientApp\dist\main-server.js:21474:9)

[2017-02-07 05:34] mjwdoek opened #41 "Interface for params in api method"
Hi, can somebody provide me the interface for the params parameter in the api method?

api(path: string, method?: FacebookApiMethod, **params**?: any)

many thanks!

[2017-02-07 10:55] ihadeed commented on #41
Hey @mjwdoek ,

The params for the `api` method depends on what method you're using. Each object/path in [Graph API Docs](https://developers.facebook.com/docs/graph-api/reference/) has a list of Parameters (if applicable).

For example, if you have a look at the [`/user/accounts` reference page](https://developers.facebook.com/docs/graph-api/reference/user/accounts/), you will see a **Parameters**

[2017-02-07 10:55] #41 closed

[2017-02-08 16:00] laura2489 opened #42 "Can you please post examples of how to use every method?"
I managed to log in an get the accessToken, but the api method doesn't seem to work or i don't know how to use it. Examples would be great. Thanks.

[2017-02-08 16:51] ihadeed commented on #42
Hey @laura2489 ,

I do plan on improving the documentation and adding examples. But for now, is there a specific thing that you're trying to do that I can help out with?

Here is a quick example on how to use the `api` method:

[code]

[2017-02-08 17:09] laura2489 commented on #42
Thank you for your prompt response. I tried that, and i keep getting the following error:
"An active access token must be used to query information about the current user."
If i provide the token, instead of /me, i get the following error: "(#803) Some of the aliases you requested do not exist: null"

[2017-02-08 17:16] ihadeed commented on #42
@laura2489 you need to call the `login` method and successfully login before using the `api` method.

[2017-02-08 17:53] laura2489 commented on #42
I did login and i managed to get the token using this.FB.getAuthResponse(). Do I have to set the token globally or something?
`{"accessToken":"EAAac7879mTwBAMevlLWBbZAHnshAr8w9VBQmE8cbBZCagi6utcMZAqoG3w8ZC5YdbWITT7M28dDJg8H7oGvshTWVNydGe2F0WkJZAvYmew6W9uuGdQWgPACwlTRdZAgRijK5NgeFoGxZB0OWGTx8n9An2uFCuz0WBLdmUAAI3ahjg2ZBlRaPtNFYZBLuShuU5KvYZD","userID":"........,"expiresIn":4639...."}`

i saved it i

[2017-02-08 19:23] ihadeed commented on #42
Please see the usage here:
https://github.com/zyramedia/ng2-facebook-sdk-example

To use the `api` method, you need to call the `login` method first. You need to login the user every time they access your app. If they have already authorized your app, then the dialog will close immediately and the session will be restored.

[2017-02-09 09:59] laura2489 commented on #42
Thank you very much. The example you posted helped me a lot. Now it works.

[2017-02-09 13:19] ihadeed commented on #42
Glad to help!

[2017-02-09 13:19] #42 closed

[2017-02-13 09:19] steady-daddy opened #43 "Using FB Messenger Plugin"
How do I subscribe to Facebook messenger events using ng2-facebook-sdk?

The code without the library is as follows:

[code]

[2017-02-13 19:24] ihadeed commented on #43
This functionality isn't implemented at the moment. I will add it as soon as I get a chance. Thank you for pointing it out.

[2017-02-14 09:15] #43 closed

[2017-02-23 09:23] HaraldBregu opened #44 "Share dialog or popup in the center of the screen"
Is possible to change the window position of the popup when trying to share?
It is always in the bottom right.

[2017-02-23 23:05] Hanzofm opened #45 "ng2-facebook-sdk 404 not found"
Hi

I'm trying to use your library to integrate facebook on my Angular 2 webApp.

I've installed the library and configured all steps but when start my webapp the inspector shows this error message and the webapp not start

GET http://localhost:3000/node_modules/ng2-facebook-sdk/ 404 (Not Found)       fetch:32

Could you help me?

[2017-02-23 23:12] ihadeed commented on #45
I'm guessing you're using SystemJS. Please see related issues #25 #34.

[2017-02-24 14:08] Hanzofm commented on #45
Thanks, issue #25 solved my problem

[2017-02-24 15:19] Hanzofm opened #46 "Share content directly without display the popup"
Is possible to share content without show the dialog?

I've tried to set display option of `FacebookUiParams` to:
`"async", "hidden", or "none"`

But it doesn't works

Thanks

[2017-02-25 04:34] #45 closed

[2017-03-01 16:09] tiratano opened #47 "Install guide small mistake? --save-dev => --save"
I think ng2-facebook-sdk package should be located in `dependencies` (not in `devDependencies`).
If so, please update the document.

[2017-03-02 00:37] ihadeed commented on #47
You're right. `dependencies` makes more sense.

[2017-03-02 00:37] #47 closed

[2017-03-02 06:02] ihadeed commented on #46
@Hanzofm

I can't find documentation for that functionality here: https://developers.facebook.com/docs/sharing/reference/share-dialog

I personally don't think it's possible since that would allow webmasters to share content on users' profiles without them knowing.

[2017-03-02 06:03] ihadeed commented on #44
There is no option for that. The Facebook SDK just opens a popup that will show based on the client's configuration/system.

I personally never experienced the issue you mentioned.

Did you try different computers?

[2017-03-03 14:01] yoda888 opened #48 "sdk.js script reference blocked in Firefox"
Firefox 51.x results in this
The resource at “https://connect.facebook.net/en_US/sdk.js” was blocked because tracking protection is enabled.
Did anyone encounter the same and manage to resolve?

[2017-03-04 11:44] ihadeed commented on #48
Do you have an AdBlocker or Tracker blocker active? check your extensions/plugins.

[2017-03-07 13:40] AsmaGargouri commented on #25
Thanks @ihadeed
Using :

[code]

and

[code]

in jsystems.config.js solved my issue. Why is it not mentionned in the Read me althought?

[2017-03-07 14:02] ihadeed commented on #25
@AsmaGargouri this is common SystemJS knowledge. It's not a quirk with this module.

[2017-03-08 09:02] AsmaGargouri commented on #25
Oh ! My bad. Thank you.

[2017-03-09 12:30] theromie opened #49 "404 - ng2-facebook-sdk/dist/ng2-facebook-sdk"
I am getting 404 error on ng2-facebook-sdk
in my app.module.ts
import { FacebookService } from "ng2-facebook-sdk/dist/ng2-facebook-sdk";
providers: [FacebookService]

[2017-03-09 12:34] JellyHuy opened #50 "ZoneAwareError: (SystemJS) Unexpected value 'FacebookService'"
Hi

I previously had some problem that got resolved with issue #25 and #34, but now i stumple upon an issue saying:
ZoneAwareError {__zone_symbol__error: Error: (SystemJS) Unexpected value 'FacebookService' imported by the module 'AppModule'....}

Could you help me?

[2017-03-09 20:46] ihadeed commented on #49
Duplicate of https://github.com/zyramedia/ng2-facebook-sdk/issues/25

[2017-03-09 20:46] #49 closed

[2017-03-09 20:47] ihadeed commented on #50
Can you share the code of your module page? That would be the page that contains `@NgModule(..)`

[2017-03-09 21:10] JellyHuy commented on #50
This is my module page:
`import { FacebookService } from "ng2-facebook-sdk";`
pluss many other imports

`var appRoutes: Routes = [
    {path: '', component: AppComponentFrontPage},
    {path: 'AppComponentSideMenu', component: AppComponentSideMenu, children: [
      {path: '', component: AppComponentOverview},
      {path: 'AppComponentCustomAudience', component: AppComponentCustomAudience }
    ]

[2017-03-09 21:16] ihadeed commented on #50
Everything looks good to me. Try reinstalling your `node_modules` and clearing browser cache.

Do you have issues running the example project here: https://github.com/zyramedia/ng2-facebook-sdk-example ?

[2017-03-09 22:01] JellyHuy commented on #50
I just tried to run example project and it works perfecly fine without any issues or errors, except for when i write http:// before localhost in my browser i get:
localhost unexpectedly closed the connection.

unexpected the problem solved on its own and its working now. I think the problem lies in the browser cache as the browser cleared it after a while and it works now, as you mention about it

[2017-03-10 08:50] #50 closed

[2017-03-12 09:00] ThomasKientz opened #51 "getLoginStatus() and Chrome"
I had to clean my chrome caches and cookies to make it works for a few time, maybe like 5-10 calls, then i get a 'unknown' status in the response. But it works like a charm on safari, tested on different computers.

Do you have this same issue ?

[2017-03-12 10:24] ihadeed commented on #51
I personally don't use `getLoginStatus()`. I just call the `login` method whenever I start a new session.

Anyways, this would be an issue with the Facebook SDK and not with this wrapper. Feel free to discuss it here but I'm going to close the issue.

[2017-03-12 10:24] #51 closed

[2017-03-12 10:25] #48 closed

[2017-03-12 10:25] #46 closed

[2017-03-12 10:25] #44 closed

[2017-03-17 21:36] mildfuzz opened #52 "getLoginStatus is never completing"
[code]

neither of the console logs ever fire. No errors in log

[2017-03-17 22:00] ihadeed commented on #52
Thanks for reporting this. I will look into it soon.

[2017-03-17 22:14] ihadeed commented on #52
Just tested out in the [example project](https://github.com/zyramedia/ng2-facebook-sdk-example) and it works fine.

[2017-03-17 22:14] #52 closed

[2017-03-18 00:06] ihadeed commented on #30
Sorry for the long delay @rodneyjoyce

I'm currently working on v2 of this module. The work is being done in the `v2` branch in this repo.

So far I added `fb-page`, `fb-like` and `fb-follow` components. I will add the rest of them soon.

You can see examples in the [ng2-facebook-sdk-example repo](https://github.com/zyramedia/ng2-facebook-sdk-example). Or try it yourself:

Install with `@next` tag

[2017-03-18 00:10] ihadeed opened #53 "ng2-facebook-sdk version 2.0.0"
Currently working on version `2.0.0` of this module. The work is being done in the `v2` branch.

# What's changing?
- Interfaces no longer have `Facebook` prefix. Example: `FacebookLoginOptions` is now `LoginOptions`
- `UiParams` and `UiResponse` are now `UIParams` and `UIResponse`.
- Adding components to make using [Facebook Plugins](https://developers.facebook.com/docs/plugins) easier

# What ne

[2017-03-18 00:15] ihadeed commented on #30
Closing this issue, opened a discussion/progress tracker here: https://github.com/zyramedia/ng2-facebook-sdk/issues/53

[2017-03-18 00:15] #30 closed

[2017-03-20 15:21] AsmaGargouri commented on #53
Hello, thank you for your work.

I am just getting error when I updated to v2.0.0, after doing an npm install, and then updated the ngModule and my Component.

The error is saying :
GET http://localhost:3000/node_modules/ng2-facebook-sdk/dist/components.js

I didn't change the ts.config.js and I don't know if I have to do it.
Thank you

[2017-03-20 16:37] berhir opened #54 "webpack warning: Cannot find source file"
I use webpack to bundle my project and it always shows this warning:
[code]

The problem is that you provide a map file but the referenced code file is missing.
Can you remove the map file or add the source files to the package? Because it doesn't really make sense to have the map files without the source files. Or am I wrong?
Thanks!

[2017-03-20 18:57] ihadeed commented on #53
@AsmaGargouri

Could you please share a minimal project that produces this issue?

Your system.js config seems correct. Make sure you also have ` 'ng2-facebook-sdk': 'npm:ng2-facebook-sdk'` under `map`.

I personally use angular-cli to serve/build my Angular 2 applications. As demonstrated here: https://github.com/zyramedia/ng2-facebook-sdk-example/

[2017-03-20 19:02] ihadeed commented on #54
Yeah you're right, source files should be there if the source map is provided.

I just fixed it and published `ng2-facebook-sdk@1.2.1`.

[2017-03-20 19:02] #54 closed

[2017-03-21 09:43] AsmaGargouri commented on #53
@ihadeed , yes I do have 'ng2-facebook-sdk': 'npm:ng2-facebook-sdk' under map.
I have returned to 1.2 for the moment.

I will try to reproduce the issue later. Thank you

[2017-03-23 06:54] romafederico opened #56 "ng2-facebook-sdk not installing!"
Hi there.

I just did

And I got the following error

What am I doing wrong?

[2017-03-23 17:41] ihadeed commented on #56
Doesn't seem to be an issue with this module.

I think your `bootstrap` module has a `.git` directory that is causing this issue. Run this command to remove any `.git` directories from `node_modules`:

[code]

[2017-03-23 17:41] #56 closed

[2017-03-24 05:05] shramee opened #57 "FacebookUiParams should support message"
Hi guys,
first of all thanks for such a lovely plugin... 😄

I got this issue while tryna implement game requests...

Argument of type `{ method: string; message: string; }` is not assignable to parameter of type 'FacebookUiParams'.

`message` is used in `apprequests` ui method.
https://developers.facebook.com/docs/games/services/gamerequests#jssdk

[2017-03-24 12:28] ihadeed commented on #57
Just published `ng2-facebook-sdk@1.4.0` with this fix included.

[2017-03-24 12:28] #57 closed

[2017-03-26 16:50] nesiri opened #60 "Dynamically loading Facebook SDK script"
Hi, I'm wondering if it's worth it to add a method that dynamically/asynchronously adds the FB SDK script rather than manually add the reference in the index.html file? Would you be open to PRs for that kind of change? Thanks!

[2017-03-26 23:43] ihadeed commented on #60
Sure we could do that.

Doesn't Facebook have that asynchronous function that injects the script? We can probably wrap that with a promise if it has callbacks.

PRs are welcome :)

[2017-04-03 19:46] danielptm commented on #24
I cannot get the email address. And I am using code very similar to the above. I can get other values, but for some reason email is not apart of the returned json object

[code]
...
[code]

returns
{name: "<my name>", id: "<my id>"}

but not email

[2017-04-03 20:14] danielptm commented on #24
super wierd...For some reason it has something to do with my developer account I think. I have a primary email address registered with the Facebook profile that I am using, but for some reason the email is not retrieved. I decided to create another Facebook account, I then added this account to the developer account, and i can get the email address from that account....Anyway if somebody has this

[2017-04-04 21:00] dinkomanolov opened #64 "Not working with SystemJS module loader"
This module cannot be used with SystemJS module loader.
Can you build umd file?
Thank you.

[2017-04-05 00:18] ihadeed commented on #64
Hey there,

Please update to `ng2-facebook-sdk@2.2.0`. Let me know if all works well, I haven't tested it fully. I just made sure it doesn't break existing code.

[2017-04-05 09:11] dinkomanolov commented on #64
It works perfect.
Thank you very much.

[2017-04-05 09:12] #64 closed

[2017-04-06 02:09] ihadeed commented on #64
Great! Thanks for the update.

[2017-04-06 10:34] ds-manish opened #65 "Regarding getting other response value"
how to get name, email, profile picture in the response??

like from here:
[code]

[2017-04-06 13:26] ihadeed commented on #65
1. Inject the FacebookService in your service/component
[code]

2. Login with the scopes needed
[code]

3. Call the API
[code]

[2017-04-06 13:34] phongyu opened #66 "Scope: publish_actions not working"
Hi,
I am trying to share canvas to Facebook,
I followed: https://github.com/lukasz-madon/heroesgenerator to implement the function in component

shareFacebook() {
    var canvas = $('#myCanvas').get(0);
    var data = canvas.toDataURL("image/png");
    var encodedPng = data.substring(data.indexOf(',') + 1, data.length);
    var decodedPng = Base64Binary.decode(encodedPng);

    const options: Logi

[2017-04-06 19:40] tdesvenain opened #67 "Throw an exception when facebook init fails"
Now that exception is catched in init() method, we can't detect if init process failed. This is very annoying.
Could we
- throw an exception if FB.init fails
- or refactor FacebookService.init function into a promise
- or set a state on FacebookService that provides information about fail or success status of init ?
Thanks

[2017-04-07 08:35] ds-manish commented on #65
thanks for the reply.
I found one more error.
it works fine in chrome but shows error in firefox.

the error is:
[code]

[code]

[2017-04-08 08:41] ihadeed commented on #65
@ds-manish do you have a script blocker or an ad blocker running on Firefox?

[2017-04-08 22:57] alouane opened #68 "Edit documentation"
Hi there,
Check please this link: https://zyramedia.github.io/ng2-facebook-sdk/facebook-service/
there is a typo error in this line scope: **public_profiel**, user_friends,email,pages_show_list

it should be fixed cauze we all do copy & paste blindly & it causes a 500 fb api error :)

Thanks

[2017-04-09 03:19] #68 closed

[2017-04-09 03:20] ihadeed commented on #68
Thanks, just fixed it!

[2017-04-10 03:32] ds-manish commented on #65
hi there..
i don't find any ad blocker or the script blocker on my Firefox.

regards,
manish

[2017-04-10 13:26] phuclam85 opened #69 "Upgrade to Angular 4"
Can you upgrade your lib to angular 4?

[2017-04-11 18:05] randomdude3512 opened #70 "Error TypeError: t is not a function"
I was just trying to make a Facebook login. But the following error is showing. I am attaching the screenshot of the error. both in safari and chrome.
In chrome
<img width="1280" alt="screen shot 2017-04-11 at 11 57 38 pm" src="https://cloud.githubusercontent.com/assets/27009430/24923371/2275971a-1f13-11e7-9ff8-de9280eaecc1.png">
In safari
<img width="1280" alt="screen shot 2017-04-11 at 11 57 16

[2017-04-13 16:19] ihadeed commented on #66
You're getting this issue because `publish_actions` is an extended permission that you need to get approval for. You should use a test version of your Facebook app to test this out.

See the Review section here for more details: https://developers.facebook.com/docs/facebook-login/permissions/#reference-publish_actions

[2017-04-13 16:19] #66 closed

[2017-04-13 16:19] #53 closed

[2017-04-13 16:21] ihadeed commented on #67
Sure, I like the promise idea. I will implement it when I get a chance.

Feel free to submit a PR!

[2017-04-13 16:21] ihadeed commented on #69
Sure, will update it soon.

[2017-04-15 13:47] Benratelade commented on #53
I am having pretty much the same error.
I noticed in the latest version, the file tree is quite different:
![package_json_ _angular-brewbros](https://cloud.githubusercontent.com/assets/8875705/25064039/82b7e1ee-2235-11e7-997c-ec6686159500.png)
![package_json_ _angular-brewbros](https://cloud.githubusercontent.com/assets/8875705/25064043/94208d14-2235-11e7-8626-088fa8359e9b.png)
Notice that dist ha

[2017-04-15 16:16] ihadeed commented on #53
@Benratelade the error that AsmaGargouri was getting was caused by some beta issues. This new structure solves these problems.

SystemJS uses the `umd` module as it's plain `ES5` instead of the `ES2015` module in the `esm` directory.

[2017-04-18 21:06] ihadeed commented on #70
This looks like an issue caused by the Facebook SDK and not by this library. Try using a different version of the SDK?

Also, check if you have any browser extensions installed that might be blocking parts of the SDK.

[2017-04-18 21:06] #70 closed

[2017-04-18 21:08] ihadeed commented on #65
Hey Manish,

`FB is not defined` errors are caused when the script is not loaded properly, or your code is getting executed before the FB SDK is loaded. Are you sure that the Facebook SDK script is loaded before anything else?

[2017-04-18 21:20] #67 closed

[2017-04-18 21:20] #69 closed

[2017-04-18 21:25] ihadeed commented on #69
Please update to `ngx-facebook@latest`.

[2017-04-19 11:01] tdesvenain commented on #67
Thanks !

[2017-04-19 15:13] Kittu987 commented on #60
import {FacebookService, LoginResponse, LoginOptions, UIResponse, UIParams, FBVideoComponent} from 'ng2-facebook-sdk';
 constructor(private fb: FacebookService)
adding this way getting error

[2017-04-19 16:33] ihadeed commented on #60
@Kittu987 please open a new issue with detailed information about the errors you're getting.

[2017-04-24 18:55] josemejiasji opened #71 "Error Redirect URI"
Hi,

I'm facing an issue when I trigger the login. A new window opens and says:

“URL Blocked: This redirect failed because the redirect URI is not whitelisted in the app’s Client OAuth Settings.”

What URI should I put on my app settings?

[2017-04-24 21:56] ihadeed commented on #71
The URL of your app, example `https://mywebsite.com` or `http://localhost:8100`

[2017-04-26 11:26] JackMj commented on #26
is it possible to get get page content of a different user, not one whos currently logged in but of a different account?

[2017-04-26 17:42] ihadeed commented on #26
@JackMj you can use the `.api()` method to call the  `/{user-id}/feed` API endpoint. Replace `{user-id}` with the user id of the user. See https://developers.facebook.com/docs/graph-api/reference/v2.9/user/feed for more information.

[2017-04-26 20:30] lukaszkukawski opened #72 "FB is not defined in Angular universal"
Hi, i have issue.

I installed the script correctly because everything works, i can login/logout/get info about user.
But when i refresh (using F5) page in console i have Error:

`
ERROR { Error: Uncaught (in promise): ReferenceError: FB is not defined
ReferenceError: FB is not defined
    at FacebookService.init (webpack:///./~/ngx-facebook/dist/esm/providers/facebook.js?:34:36)
    at LoginFaceb

[2017-04-26 20:45] ihadeed commented on #72
Are you using Angular Universal?

If so, I recommend wrapping any Facebook specific code (that runs by itself without user action) in a `isPlatformBrowser`.

[2017-04-26 20:48] lukaszkukawski commented on #72
thx for fast reply.

Yes i using Angular universal, latest version.
Do you have example, how to use isPlatformBrowser?

[2017-04-26 22:21] ihadeed commented on #72
@lukaszkukawski

1. Import the following:
[code]

2. Inject `PLATFORM_ID`:
[code]

3. Wrap your Facebook calls with `isPlatformBrowser`:
[code]

[2017-04-27 04:02] lukaszkukawski commented on #72
This platformId i must added in some configuration? Because i have error:**platformId is not defined**

[2017-04-27 04:16] ihadeed commented on #72
@lukaszkukawski you need to inject it in a component or a service using `@Inject()`

[2017-04-27 04:32] lukaszkukawski commented on #72
I used @Inject but this error not disappeared.
But this is not a problem with ng2-facebook-sdk. I will not disturb you anymore with this, so thank you for your help!

[2017-04-27 04:40] ihadeed commented on #72
@lukaszkukawski check the stuff you have imported in the app's main module. Here's are some code snippets from an Angular Universal app that I have. `PLATFORM_ID` injects fine in this app, so there might be something you missing that I have here:

[code]

[code]

[code]

[2017-04-27 04:40] #72 closed

[2017-04-27 04:48] lukaszkukawski commented on #72
You are great!

Missing this fragment:

`
  BrowserModule.withServerTransition({
            appId: 'zyramedia'
        }),
`

[2017-04-27 08:16] OdaiTu opened #73 "facebook comments !"
hi
there is no facebook comments or what guys  ?

[2017-04-27 08:51] ihadeed commented on #73
Hey there,

See https://zyra.github.io/ngx-facebook/comments/

[2017-04-27 11:02] OdaiTu commented on #73
@ihadeed  i see it but when i write
<fb-comments></fb-comments>

no thing show

i try to use it like this
`<fb-comments
                        [numposts]="'5'"
                        [href]="'https://www.watania.net/news/'+ selectednews[0].id+'-'+selectednews[0].seo_name">
                    </fb-comments>`

nothing show also
im using forRoot Module

[2017-04-27 18:29] raymondtsung opened #74 "FB Like button not showing up when route change only on page refresh"
Hi  have added this inside the index.html:

[code]

And also added this inside the app.module:
[code]

And also added this inside a component template:

`<fb-like href="https://github.com/zyra/ngx-facebook"></fb-like>`

But the problem is that the like button doesn't show when I route from lets say home to the component where the like button resides.

It only shows when I refresh that page.

Pleas

[2017-05-03 15:17] gusreyes01 opened #75 "Example project not working."
The example project link is broken.

[2017-05-03 20:31] ihadeed commented on #75
@gusreyes01 sorry about that!

Just fixed it. See https://zyra.github.io/ngx-facebook-example/

[2017-05-03 20:31] #75 closed

[2017-05-04 12:26] OdaiTu commented on #73
@ihadeed

[2017-05-05 01:13] ihadeed commented on #73
@OdaiTu

I haven't tested everything thoroughly in all kinds of situations. I mainly test things in the example project here: https://zyra.github.io/ngx-facebook-example/

As you can see, the comments are displaying properly there without any issues. You can see the source code here https://github.com/zyra/ngx-facebook-example/blob/master/src/app/app.component.html#L82

If you are experiencing iss

[2017-05-05 10:23] mohamednagy opened #76 "http://localhost:3000/ngx-facebook 404 (Not Found)"
I have followed the steps of how to install the package
`npm i --save ngx-facebook`
then add the facebook sdk to my index.html
`<script type="text/javascript" src="https://connect.facebook.net/en_US/sdk.js"></script>`
from my module
`import { FacebookService, InitParams } from 'ngx-facebook';`
[code]

but i always stuck on error that `http://localhost:3000/ngx-facebook 404 (Not Found)`

[2017-05-06 07:10] OdaiTu commented on #73
@ihadeed
problem resolved and the plugin comes up but i think the main problem still there
im using a component to preview a news so its one component and the user when open this component for first time the comments plugin shows but it he decide to navigate between components and back to news compoentn the comments plugin gone and if i open a new news when im still in the same compoenet the comme

[2017-05-07 11:31] OdaiTu commented on #73
@ihadeed

the code just fine but still this issue that if i leave the component or click new item in the same component can you resolved it

our company finish the project but still this proplem bro !

thank you for your time

[2017-05-08 02:45] bachnxhedspi commented on #76
I found a solution for old version (ng2-facebook-sdk) here #45, but still not able to find solution for ngx-facebook.

[2017-05-08 03:05] ihadeed commented on #76
Put the following in your systemjs config file:

[code]

[2017-05-08 17:25] bachnxhedspi commented on #76
Thanks @ihadeed , you saved my days.

My application run well in development environments; but after build them to production and deploy on server. All I receive is "Uncaught TypeError: Module @angular/core not declared as a dependency."

I use Mgechev's angular 2 seed, which you can find here: https://github.com/mgechev/angular-seed

Please take a look at my source code if you don't mind: https:/

[2017-05-09 07:47] forumd opened #77 "Logout not working"
Hi, I have a issue with logout function.
Init function:
[code]
Logout function:
[code]
Thats looks like works but it is not.
The console show:
`Object {authResponse: Object, status: "unknown"}`
And it should be:
`Object {authResponse: null, status: "unknown"}`
Thats why if you refresh the page you continues logged.

[2017-05-11 09:07] ds-manish commented on #65
thanks it done...

[2017-05-11 09:07] #65 closed

[2017-05-11 10:15] JohnVituli commented on #77
you can try this

this.fb.getLoginStatus()
      .then(res=>{
        if(res && res.status == 'connected'){
          this.fb.logout()
            .then(res=>{console.log(res)})
            .catch(this.handleError);
        }
      }).catch(this.handleError)

[2017-05-11 10:31] forumd commented on #77
Hi,
Thats is not working, I think the cookie is the problem but I need it.
I believe that sdk works over facebook cookie so if you do not delete them you still logged but if you delete it, you get logged out from facebook.
I want logout from my web but not from facebook.

Thanks for you answer.

[2017-05-11 11:53] OdaiTu commented on #73
@ihadeed

here is my code 👍
[https://drive.google.com/open?id=0Bxp7VVaVN1DqbHZLOERyanhYdm8](url)

here is in live

[http://zaina.mezian.co/news/102802](url)

[2017-05-15 11:21] Traveller198 commented on #2
Hi ihadeed,

                  I am using system.config.js....it throws error Error: (SystemJS) XHR error (404 Not Found) loading http://localhost:3000/ng2-facebook-sdk Error: XHR error (404 Not Found) loading http://localhost:3000/ng2-facebook-sdk at XMLHttpRequest.
Can you plsease help me.Thanks

[2017-05-15 13:26] ihadeed commented on #2
Wrong place to ask a question @Traveller198 .. Have a look here https://github.com/zyra/ngx-facebook/issues/76#issuecomment-299762196 if you're using `ngx-facebook` or here https://github.com/zyra/ngx-facebook/issues/25 for `ng2-facebook-sdk`.

[2017-05-16 22:11] Atkinson88 opened #78 "Facebook Graph API no longer returns permissions"
I have been using your package for a good month or two now and last night I checked the login with facebook functionality just to confirm it was still working, however it seems to login correctly, but the graph API is called, but email does not get returned?

This is my code:

`this.fb.init(INIT_PARAMS);` // Which gets set from a constant file - Can confirm it working.

[code]

Can someone shed an

[2017-05-16 22:19] Atkinson88 commented on #78
Resolved.

[2017-05-16 22:19] #78 closed

[2017-05-19 11:39] altancabal commented on #74
I am having the same problem

[2017-05-20 00:03] altancabal commented on #74
I was able to solve it by adding
`declare var window: any;`
before the component where I am using the facebook element, and then I added the following statement
`window.FB.XFBML.parse();` in the `ngOnInit` method of the component.

[XFBML Parsing](https://developers.facebook.com/docs/reference/javascript/FB.XFBML.parse)

[2017-05-20 01:14] raymondtsung commented on #74
Ah thanks for the answer.
I was able to solve it by calling the init method and passing my own appId.
I think the init also fires the parse.
[code]
Maybe I'll use your method I think it's faster.

[2017-05-23 11:13] Lagistos opened #79 "facebook comments plugin is not display on chrome"
I added a comments area and it's look ok on the firefox and edge but it's not visible in chrome.
does somebody is familiar with this problem?
is there a way to fix that?

[2017-05-24 04:27] kyue1005 opened #80 "Checking for FB Object existence."
The issue is when I am trying to do SSR for my application.
As I am using express to render my application as static html and FB Object wont be initialized, if the facebook service provider can check existence of FB Object before performing FB SDK action would be great.

[2017-05-24 13:31] ihadeed commented on #80
I'll improve the module and add more features to make life easier.

For now, if you're using Angular Universal, see my comment here: https://github.com/zyra/ngx-facebook/issues/72#issuecomment-297558233

[2017-05-26 04:25] xerotolerant commented on #79
I have the same problem except it does not show in chome either.

[2017-05-26 06:55] ihadeed commented on #79
Does this help https://github.com/zyra/ngx-facebook/issues/74#issuecomment-302836161?

[2017-05-27 07:38] Lagistos commented on #79
Thank you about your answer. but The problem is still exists

[2017-05-27 19:08] xerotolerant commented on #79
In my case I needed to initialize the module first. It showed up once I did
that. It wasn't clear what functions required initialization and it failed
silently.
On Sat, 27 May 2017 at 3:38 AM Lagistos <notifications@github.com> wrote:

[2017-05-27 20:26] Lagistos commented on #79
I did the initialization function again inside the constructor and yet not working on chrome,
all the components working well except the comments component (and it's working well on firefox and edge) even after i updated my chrome it didn't work.

[2017-05-28 08:10] ihadeed commented on #79
Ok I'll look into it.

The example project for this repo works fine on Chrome and it shows every single component correctly.

 It's worth checking if you have any browser extensions blocking the comments component.

[2017-05-31 08:08] Lagistos commented on #79
i dont have any extention on my chrome, i hope that it's a problem in my browser, thanks a lot.

[2017-05-31 11:41] ihadeed commented on #79
Does the example project work fine for you?

[2017-05-31 11:43] Lagistos commented on #79
actually no, and i just checked it on other websites with facebbok comments
and it doesnt work there also, so probably the problem is in my browser,
thanks a lot

בתאריך 31 במאי 2017 14:41,‏ "Ibby Hadeed" <notifications@github.com> כתב:

[2017-05-31 16:17] xerotolerant opened #82 "How to change href on comments plugin with route"
I have a component which loads content dynamically from firebase.
Clicking on different links does not cause the component to reload completely, it just changes the path on firebase that the component is referring to.

I would like to associate comments with those paths.
At present I am trying to change the href of the fb comments like this

`this.fbComments.href = '/recipes/' + recipe.name`

this

[2017-05-31 16:54] xerotolerant commented on #82
Ok I figured out the problem. the issue was the address. It needs to be the full address including the domain name so:
`this.fbComments.href = 'http:\\your-site.com\sub\document`

[2017-05-31 16:54] #82 closed

[2017-06-06 11:05] #80 closed

[2017-06-07 23:57] manticarodrigo commented on #78
How?

[2017-06-08 00:04] ihadeed commented on #78
@manticarodrigo

See https://zyra.github.io/ngx-facebook/facebook-service/#login

You need to set `return_scopes` to `true`.

[2017-06-09 06:13] TrungQNguyen opened #83 "Can show comments base on post id ?"
I have a post id. I want to read all comments (and can post new comment or reply).

Can we do it ?!?!

Thanks

[2017-06-09 09:02] ihadeed commented on #83
Is this something that is possible to do with Facebook's JavaScript SDK? if so, please send me the link and I will implement it as soon as I get a chance. If not, then I can't do much about it here. This project is just a wrapper of their JS SDK.

[2017-06-09 20:34] stefems opened #84 "fb.Event.subscribe(...) yields error: Property "Event" does not exist on FacebookService or FacebookModule"
Facebook offers this option for keeping track of auth status: https://developers.facebook.com/docs/reference/javascript/FB.Event.subscribe/v2.9

But when I use it in my currently working code (successfully performing init(), login(), checkLoginStatus() and more), .Event.subscribe() is not working.

[code]

Full Error message:
Property 'Event' does not exist on type 'FacebookService'.

[2017-06-09 21:53] ihadeed commented on #84
This module still has no support for events yet. I'll add it in the next release.

For now, you can do something like this:
[code]

[2017-06-09 22:22] YuriFontella opened #85 "Current User"
What is the best way to validate if the user is already logged in? And how can I show user data in the view? When I try this "this.user = response" in getProfile () this.user returns empty.

When I refresh the page and try to access the method getProfile () this error occurs:

Error processing action Object {message: "An active access token should be used to query information about the current use

[2017-06-09 22:45] ihadeed commented on #85
The method [getLoginStatus](https://zyra.github.io/ngx-facebook/facebook-service/#getLoginStatus) is meant for such thing. It checks if there is an active session. If there isn't one, then you need to call `login` again.

[2017-06-09 23:20] YuriFontella commented on #85
The getLoginStatus() problem is that it does not return true or false.

[2017-06-10 00:40] ihadeed commented on #85
Does the promise returned by the method resolve or reject? What does it resolve/reject with ?

[2017-06-10 02:21] YuriFontella commented on #85
It returns the object: {status: "connected", authResponse: Object}
But as for example I would send this to the view to show/hide the login button?

[2017-06-10 06:14] ihadeed commented on #85
Yes. You check if the `status` property is equal to `connected`. If it's something else, then you need the user to login again.

[2017-06-10 17:38] stefems commented on #84
Thanks for the prompt response and helpful advice!

[2017-06-10 17:38] #84 closed

[2017-06-10 17:49] manticarodrigo commented on #78
Awesome! Thank you @ihadeed

[2017-06-12 04:12] saumyatripathi opened #86 "Login with facebook button"
Hey guys - I'd like to thank you for creating and maintaining this. I am currently using the login flow which works perfectly. I looked at the examples and could not find an example with facebook login button being rendered. Is this by design or is this something that we haven't been able to get to yet?
![image](https://user-images.githubusercontent.com/2563821/27019102-6653b87a-4f03-11e7-8b35-b1e

[2017-06-12 04:22] saumyatripathi commented on #86
Update - It does get rendered if I include the following code from Facebook spec -
[code]
However, it is not rendering if I include it in md-dialog. (I understand that this is not an ngx-facebook request and I'll try to sort this out but the original request still stands)

[2017-06-12 04:39] saumyatripathi commented on #86
Update - I was able to get the Login button to render using #74 technique of manually calling `FB.XFBML.parse();` on `ngOnInit()`
I did however update the markup to
[code]
Apologies for multiple postings.

[2017-06-12 04:49] TrungQNguyen commented on #83
Ok thanks.

[2017-06-12 07:29] #83 closed

[2017-06-12 07:32] ihadeed commented on #86
We don't have a Login button yet. I'll implement it in the next release.

Thanks for taking the time to figure this out and share the info! Very helpful.

[2017-06-12 12:54] saumyatripathi commented on #86
Thanks for the quick response @ihadeed and thanks for creating and maintaining this library. I will look forward to it being added in the next release.

[2017-06-16 08:14] punkkumar113 opened #87 "Login to facebook issue"
I used ngx-facebook I am getting user profile but user profile is not providing me user email what should i do

Thanks

[2017-06-16 15:24] ihadeed commented on #87
Are you requesting the email permission?

[2017-06-16 16:07] punkkumar113 commented on #87
Yes but I am only getting name and id

On 16 Jun 2017 8:54 p.m., "Ibby Hadeed" <notifications@github.com> wrote:

[2017-06-16 20:15] ihadeed commented on #87
You need to use the `.api()` method to fetch the user's profile.

[code]

[2017-06-16 20:15] #87 closed

[2017-06-20 11:07] amrography commented on #79
It's not showing on opera too. The input `href` is removed when building the project

This what I write in HTML `<fb-comments [href]="post.link"></fb-comments>`

And this from console
![screen shot 2017-06-20 at 1 07 15 pm](https://user-images.githubusercontent.com/9614340/27330377-6a0d299e-55b9-11e7-836c-5647bec289ab.png)

[2017-06-20 13:21] keaeriksson opened #88 "Standalone mode on iOS"
Hi and thank you for creating this.

I have a problem when using the Facebook login in iOS standalone mode (i.e. when adding the web app to the home screen). The problem and solution with the standard Facebook SDK for JavaScript is described here: https://stackoverflow.com/questions/11197668/fb-login-broken-flow-for-ios-webapp.

However I am not sure how to implement this solution with ngx-faceboo

[2017-06-30 19:21] halben opened #89 "SSR support?"
Didn't see this mention anywhere in the Readme but will there be server side rendering support?

Error:

ReferenceError: FB is not defined at FacebookService.init

[2017-07-01 10:21] ihadeed commented on #89
See my reply here: https://github.com/zyra/ngx-facebook/issues/72#issuecomment-297558233

[2017-07-03 01:48] #89 closed

[2017-07-06 07:02] ihadeed commented on #88
Sorry for the late response, I will have a look at this and try to implement the fix soon.

[2017-07-11 22:00] gonzag commented on #71
Hi @ihadeed, I have the same problem.
I'm running the server in https://localhost:443
I'm trying to call the login in:
https://localhost/upload
The popup: “URL Blocked: This redirect failed because the redirect URI is not whitelisted in the app’s Client OAuth Settings.” appears.

And in my facebook application, I set up these valid OAuth redirect URIs:
https://localhost/upload
https://localhost/
h

[2017-07-12 17:47] AlanMc74 commented on #23
HI, I know you closed this, but I was wondering did you ever come up with a fix for it? I am having the exact same issue, I can create a small barebones project tomorrow and send it on tomorrow if you haven't found a fix yet but still want to check out what might be the problem.

[2017-07-12 19:06] ihadeed commented on #23
@AlanMc74

what are the issues you're experiencing exactly? please open a new issue with details.

[2017-07-20 15:09] keeperofchem opened #90 "Page component not displaying"
I have installed ngx-facebook with npm, included the facebook sdk.js in my index.html, and included `imports: [FacebookModule.forRoot()]` in my app.module.

I have also added the following the component
`<fb-post href="https://www.facebook.com/20531316728/posts/10154009990506729/"></fb-post>`

However, nothing is showing up on my page and there are no errors in the console. Any help is appreciated

[2017-07-20 15:16] #90 closed

[2017-07-20 15:18] keeperofchem commented on #90
And not more than 7 minutes later, it appears to be working. The problem was I had copied `<script type="text/javascript" src="https://connect.facebook.net/en_US/sdk.js"></script>` from the instructions. However upon looking at your sample project, I saw `<script type="text/javascript" src="//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9"></script>`, which works.

[2017-07-26 12:58] anthonyfabrizi commented on #84
@ihadeed How and where to put declare var FB: any; FB.Event.subscribe(...)? It's not working for me.

[2017-07-26 14:38] stefems commented on #84
This is a typescript question. Go online to read more about using external JS in typescript files.

You can declare a variable (FB is specifically declared inside the JS you're linking in the index.html file) in your typescript file in order to capture that JS script's global variable. You can do this at the top of the typescript file. console.log() the variable in order to see if it has successfu

[2017-08-04 14:06] muzammilsudofy commented on #23
Facing the same issue ? Does anyone have the solution ?

[2017-08-04 14:43] niravshah opened #91 "'Unexpected token import' error when used with angular universal rendering (platform - server)"
Am following this guide (https://coursetro.com/posts/code/68/Make-your-Angular-App-SEO-Friendly-(Angular-4-+-Universal) to add server rendering to my angular 2 app created with angular-cli.
It works fine until I add FacebookModule to my app's root module and use the FacebookService. Adding this leads to the above error at the step where I try and run my express server using ts-node.

[2017-08-04 15:20] bencameron00 commented on #23
Do you have the script tag on your page?
<script type="text/javascript" src="https://connect.facebook.net/en_US/sdk.js"></script>

Adding that fixed it for me.

[2017-08-07 05:50] ihadeed commented on #91
Make sure you follow my comment here: https://github.com/zyra/ngx-facebook/issues/72#issuecomment-297558233

Also, try using `node` instead of `ts-node`. "Unexpected token 'import'" is an issue with old node version trying to execute es6.

[2017-08-09 15:27] niravshah commented on #91
Thanks Ibby. But this did not help. Do you  have a ngx-facebook project using angular platform-server rendering that I can look at?

This is a [problem](https://github.com/angular/angular-cli/issues/7200) that the angular-cli team have acknowledged as well, I need some help looking for a work around till this is fixed.

ngx-facebook may a commonjs build as being done by angulartics2 [here](https:/

[2017-08-09 17:58] ihadeed commented on #91
@niravshah

I don't have a current project that uses SSR. I tried it before, though.

Did you try the `umd` build that is published here? you can find it in `dist/umd`. So basically you'd import from `ngx-facebook/dist/umd` instead of `ngx-facebook`.

[2017-08-09 18:05] niravshah commented on #91
👍  that worked like a charm !

thanks ibby. ⭐️

[2017-08-09 18:05] #91 closed

[2017-08-11 14:56] kachhawayamehulgmailcom opened #92 "Get Logged in user friend list and with there birthday"
I am using function for getting friend list,  But Not getting birthday of friends, What to do

getMyFriends() {

    this.fb.api('/me/taggable_friends')
      .then((res: any) => {
        console.log('Got the users friends', res);
      });
  }

[2017-08-12 12:51] kachhawayamehulgmailcom commented on #92
And How to open a custom popup for post to facebook

[2017-08-14 20:17] Anglim opened #93 "No components are rendering"
Hi,

After following the simple 3-step guide:
1. Install via NPM
2. Add JavaScript SDK to index.html
3. Import FacebookModule into your app's root module

I get an issue where none of the components I add are displaying.

**For example:**
`<fb-page href="https://facebook.com/facebook"></fb-page>`

Nothing appears on my webpage after adding this.
I have no error in the console.

Anyone have any ide

[2017-08-18 08:48] EnslavedEagle commented on #93
Same thing is happening to me. I wanted to add a like button to my angular component. The DOM inside the `fb-like` element seems to create just fine (`span` & `iframe`), but no button is present.

[2017-08-23 12:40] abel672 commented on #23
Hi guys, here you have my solution. I had the same problem and I couln't fix it even adding the script in the index.html. SOLUTION:
What I did is to uninstall the ngx-facebook package from my project 'npm uninstall ngx-facebook'
and install it again but with the 'npm install ngx-facebook' command instead the 'npm i --save ngx-facebook' that the docst offers you. That fix the problem for me. Hope t

[2017-08-24 13:01] nioperas06 opened #94 "How can I get OAuth facebook code?"
How can I get OAuth code before ngx-facebook exchanded it for an access token? I want to use [django-rest-social-auth](https://github.com/st4lk/django-rest-social-auth) but I need an input like this:
`{
      "provider": "facebook",
      "code": "AQBPBBTjbdnehj51"
  }`
Can anyone help me?

[2017-08-24 14:40] Layyy opened #95 "Facebook method 'feed'"
Hi,

I am trying to use `feed` method to Facebook UI but everything I get is new facebook window where is 404 not found. So where can be the problem?
This is my call
`this.fb.ui({
      link: 'https://link.to.my.awesome.app.com',
      method: 'feed',
      name: 'Hero',
      picture: 'https://media.idownloadblog.com/wp-content/uploads/2016/09/iPhone-7-Plus-High-Resolution.png',
      description

[2017-08-24 20:42] felipeperezsanchez commented on #85
getLoginStatus always  return unknown
  :-(

[2017-08-25 05:46] owencummings opened #96 "Problem with node"
I was using this fine for about a day, it was doing everything I wanted. Then it started telling me (with no changes as far as I can tell) that there was...

 Reference Error:  FB is not defined as facebook.init()

OK seems odd. I decided to just update all my node packages and then reinstall this one in particular. But now that I'm reinstalling, I'm met with a bunch of errors, like:

![image](htt

[2017-08-25 07:34] Layyy commented on #95
Sorry to bother you now it's deleted from method 'feed' so you should update your library :)

[2017-08-25 07:34] #95 closed

[2017-08-25 16:58] #96 closed

[2017-08-26 09:42] danielptm commented on #77
I am having the same problem, when I call the gb.logout() function I am not logged out of Facebook nor my app. Is there a workaround for this? Or is a solution for this in sight?

[2017-08-28 22:21] pablo-gonzalez opened #97 "Component not working on Ionic 2"
Hi
I have tried to use your component on my Ionic 2 application with no success.
Also I have tried with a default template for testing and same result.

**Steps to reproduce**
Install Ionic using `npm install ionic@latest`
Create a new project based on a ionic template:
`ionic start sidemenuTest sidemenu`
Complete the first 3 steps of your Installation documentation.

Add fb-page in home.html and

[2017-09-05 13:16] theunreal commented on #77
Same here.

When refresing the page - it log out
Using `cookie: true,` solves it, but then it's impossible to log out.

@zyra any idea?

[2017-09-05 16:00] redaxmedia opened #98 "Support for pages"
Hello,

I try to get the latest events of a facebook page.

[code]

Facebook Api returns:

[code]

Of course this does not work without having a token provided but the InitParams does not have such property. So my question is - does this library provide internal handling of access tokens or should I go back to the original SDK?

Thank you

[2017-09-06 06:28] ihadeed commented on #98
Did you call `.login()` before trying to use the `.api()` method?

[2017-09-06 08:49] redaxmedia commented on #98
Using `.login()` works but I don't want the user to be logged in to display such data. Therefore I like to make an "app-request" in the background. I hope you understand what I try to explain.

[2017-09-06 12:13] utiq commented on #23
So, the way to fix this is to add
**<script type="text/javascript" src="https://connect.facebook.net/en_US/sdk.js"></script>**
but at the end of the html file, check this example

[code]

[2017-09-06 12:53] ihadeed commented on #98
If it needs an access token, then you have to provide it somehow.

`ads_management` or `pages_show_list` permissions are needed for that API endpoint (see https://developers.facebook.com/docs/graph-api/reference/page/events/).

 If you own the page and you insist on getting this data on the client-side of you app... you can generate an access token and send it with the request.

[2017-09-06 12:53] #98 closed

[2017-09-06 13:25] redaxmedia commented on #98
Thank you for pointing this out.

[2017-09-08 10:39] sarnecki-cic commented on #93
I have the same issue

[2017-09-08 10:42] sarnecki-cic commented on #93
OK, so I solved it by calling a service and providing my appId in ts file for this component

[2017-09-16 09:39] theunreal opened #99 "User is automically logged out when refreshing the page"
Using ngx-facebook, if the user logs out once - he will be logged out every time he refresh the page.

Users have to login again every time they access the app in order to be authenticated.

Any solution for this?

[2017-09-16 21:27] ihadeed commented on #99
Facebook authentication isn't meant to handle your app's authentication. It simply provides you with an access token that allows you to fetch user related data from the server. You can use this data to verify the user's identity and then log them in using your own authentication system.

[2017-09-21 08:33] it-discovery opened #100 "Examples page doesn't work"
Hi

I tried to review examples page https://zyra.github.io/ngx-facebook-example/ but all the buttons don't respond. I also see an error in the console:
Load denied by X-Frame-Options: https://www.facebook.com/xti.php?xt=AZVcjRWTk-obD2yycw2_ndLBUOX3_9xGus1_zklLM0kR0krxChzpiCkIaDP5IxlXTJ56IPJcJ_Id3qUKBDrWPeC3i40wGYZEWOOLPxlAyh8qY3CjkWIvH0zqvhHdhR-Ls5KByTFmPlZEt0WQqoEjb3l4JcbieCZdLCyYQOGxsOB-gQ&isv=1

[2017-09-21 12:12] theunreal commented on #99
@ihadeed In this post I refered to the fact that even when the user got a valid access token from the previous session, when he refresh the page and run:

`this.fb.getLoginStatus();`

It will return "unknown" auth status although the user has a valid auth token.

[2017-09-22 09:14] marko1943 commented on #77
Any fixes for this?

[2017-09-23 06:15] marko1943 opened #101 "getLoginStatus not working?"

[2017-09-23 06:16] marko1943 opened #102 "getLoginStatus not working?"
Hello,

This method isn't returning anything, it seems empty?

I'm also checking the documentation, nothing there about it

https://zyra.github.io/ngx-facebook/facebook-service/#getLoginStatus

Can you tell more about this?

[2017-09-25 06:43] viktorstaikov opened #103 "fb-video component does not initialize"
Hi
I'm trying to embed some videos using fb-video component inside [Bootstrap Carousel](https://valor-software.com/ngx-bootstrap/#/carousel). Fb-video is not initializing at all and it has no child elements in the DOM when inspecting the element.

This is how I use it:
`    <fb-video (error)="log($event)" href="https://www.facebook.com/facebook/videos/10153231379946729/"></fb-video>`
The log() fun

[2017-09-26 07:08] chi-aevoe commented on #102
I am not working on FireFox 55.0.3
Chrome, Opera, Edge, Safari those are fine.
any plan to update?

[2017-09-27 10:55] nbtai commented on #77
I have the same problem! Even I can't get the `Object {authResponse: Object, status: "unknown"}` in the response of logout function.

[2017-09-30 23:32] patrickmichalina commented on #8
It would be better as an observable since you can flatMap and join other streams fluently....

[2017-10-03 12:25] gnanavelshenll opened #104 "facebook title, description and image not displaying in facebook share"
Hi,

I tried your ngx-facebook share package. But  facebook title, description and image not displaying in facebook share.

Could please help with issue?.
Thanks.

[2017-10-09 04:18] akhilesh2310 commented on #104
`const options: UIParams = {
                            method: 'feed',
                            name: 'Look at my performance!',
                            link: window.location.href,
                            picture: 'img url',
                            description: 'Ya hoo',
                            message: '',
                            display: 'popup'
                        }

[2017-10-10 19:25] bencameron00 opened #105 ""require function is used in a way in which dependencies cannot be statically extracted" error on build"
I have an Angular 4.4 application that has been working very well. It uses webpack as part of the build.

I have just imported ngx-facebook.

I have followed the basic setup instructions how ever I am getting errors when I try to run the app via a 'npm start' command.

I am getting this message printed many times in the console...

[code]
--

Any ideas what this might be?

[2017-10-13 11:18] nbtai opened #106 "getLoginStatus() can not detect when user logout on facebook page."
Hi,

I have the problem that when you logout your facebook account in facebook page. And in your web app (not reload), you submit the facebook button,  the getLoginStatus() still recognize that the user status is connected.

Can we check this issue.

[2017-10-19 05:09] kodeine opened #107 "facebook auth popup login"
Browser blocks the facebook auth page as it is a popup while getting permissions. is there a way to not popup and take the user to facebook page with a return uri?

[2017-10-25 02:43] hijamoya commented on #99
+1 same problem here.

[2017-10-28 18:02] kodeine commented on #107
for example, onesignal.com try to login as facebook, it wont do a popup but it would take it to that page so browser dont block first request as a popup blocked.

[2017-10-29 07:25] ahsanaasim opened #108 "No components are working"
I have added the following url in my index.html
`<script type="text/javascript" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=1107037259372986"></script>`

tried this one as well
`<script type="text/javascript" src="https://connect.facebook.net/en_US/sdk.js"></script>`

in my component, initialized FacebookService
[code]

and inside of my html file added the following

[2017-10-29 07:27] ahsanaasim commented on #108
I am using angular 4 with angular cli

[2017-11-02 10:53] michaelz commented on #104
Same problem here. Facebook scrapes the site and uses the meta tags. Is the 'feed' method implemented ?

[2017-11-02 13:13] michaelz commented on #104
Okay, I managed to make it work like this

[code]

Source: https://stackoverflow.com/questions/44756939/with-picture-in-feed-dialog-deprecated-how-can-i-post-an-image-link

It looks like `picture` in the feed dialog is deprecated.

[2017-11-08 00:28] kodeine commented on #107
is this still maintained?

[2017-11-09 11:33] KhanHamidkhan opened #109 "How to get facebook profile pic of logged in person in ngx facebook?"

[2017-11-09 17:42] b0rgbart3 opened #110 "Unmet Peer Dependency issues"
During install, I'm having UNMET PEER DEPENDECY issues...
UNMET PEER DEPENDENCY @angular/common@4.4.6
├── UNMET PEER DEPENDENCY @angular/core@4.4.6

I tried runing npm update, uninstalling the cli, cleaning the cache and re-installing the cli -- and I also put 4.4.6 into my package.json for both of these --
`npm install` by itself works fine
but
`npm i --save ngx-facebook`
--generates these two UN

[2017-11-10 01:09] kodeine commented on #44
browsers are blocking the popup's. even on android 2nd attempt would work because first browser warns about the popup.

[2017-11-10 19:15] #107 closed

[2017-11-12 10:12] ihadeed commented on #109
See the JavaScript code here: https://developers.facebook.com/docs/graph-api/reference/user/picture/

It's pretty much the same, except you'd call the `api` method on the service instead of communicating with `FB` global variable directly.

[2017-11-12 10:12] #109 closed

[2017-11-13 22:38] matheusdavidson commented on #91
Tried to import from ```ngx-facebook/dist/umd```, but i'm getting many warnings like this:
[code]

[2017-11-15 16:56] bernatgy commented on #74
I would recommend both solutions. Use the FB init method, and use the **AfterViewInit** for @altancabal 's solution (instead of OnInit).

[2017-11-17 21:25] ekzarov commented on #77
The same... Can it be related to this stuff:

https://developers.facebook.com/docs/reference/javascript/FB.getLoginStatus#servers

[2017-11-21 04:35] ninlock opened #111 "Async loading sdk script in index.html"
Hi, is there a solution to load sdk async without an error on init? Because if we can't access to facebook like a company the loading of angular App it's equal to a timeout

[2017-11-28 01:00] usepeachy commented on #84
`import {Injectable} from '@angular/core';
import {Component, OnInit} from '@angular/core';
import {Response, Http} from '@angular/http';
import {Helper} from '../services/helper';
import {Router} from '@angular/router';
import {ToastrService} from '../services/toastr.service';

declare var window: any;
declare var FB: any;

@Injectable()
export class FbloginService implements OnInit {

    constr

[2017-11-29 07:53] ilyakrasnov commented on #108
@ahsanaasim see solution here: https://github.com/zyra/ngx-facebook/issues/93. Add the service helped me render posts

[2017-12-05 15:33] odecharette opened #112 "Subscriebe to Like page event"
Hi

I'm using Angular 4 and I'd like to add a facebook page like button
So I might use <fb-like href="https://github.com/zyra/ngx-facebook"></fb-like>

Is it possible to launch a function in TS when the facebook page is actually liked ?

I'm developping a game and I want to give some extra points to the user if he likes the FB page

Thanks !
Olivia

[2017-12-06 03:29] nkrambo commented on #93
@sarnecki-cic Have you got an example of how you solved this? Thanks

[2017-12-07 16:18] christofferskog commented on #80
@ihadeed But this happens regardless if you're making any calls. Just by importing the module I get this error and idk how to work around that because I can't wrap the module in an if statement.

[2017-12-09 10:39] flyplay91 commented on #5
@ihadeed
I am on the same issue now.
I added script in index.html file.
But it is not working when I have karma unit test.

[2017-12-10 12:44] Dpavlova opened #113 "Angular 4 and ngx-facebook"
Hello,
I am building an angular4 app and I want to display a facebook page with the like button.

The problem is that the facebook is called into the constructor and on each change of the pages of my website, the facebook page dissapears.
My question is, is there a way to make the facebook run on init instead of adding it into the constructor?

[2017-12-10 19:02] MMilan19 opened #114 "\node_modules\ngx-facebook\dist\esm\providers\facebook.js:1 (function (exports, require, module, __filename, __dirname) { import { Injectable } from '@angular/core'; ^^^^^^ SyntaxError: Unexpected token import"
\node_modules\ngx-facebook\dist\esm\providers\facebook.js:1
(function (exports, require, module, __filename, __dirname) { import { Injectable } from '@angular/core';
                                                              ^^^^^^
SyntaxError: Unexpected token import
    at createScript (vm.js:56:10)
    at Object.runInThisContext (vm.js:97:10)
    at Module._compile (module.js:542:28)
    at

[2017-12-10 19:37] tiberiumihai commented on #93
@sarnecki-cic Can you tell us how does it look this call in your ts file?

Currently I have to reload the whole page in order for the iframe to load again by injecting the facebook SDK again.

`var FBSDK = document.getElementById("facebook-jssdk");

    if (FBSDK) {
      FBSDK.remove();
    }

    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementBy

[2017-12-10 20:03] tiberiumihai commented on #93
Looking on ng2-facebook-sdk git repo docs I found how it works.

First you need to create a facebook application, and get your appId.

Then use this:
facebook-panl.ts
[code]

facebook-panel.html
[code]

[2017-12-11 05:10] tomrainedotcom commented on #114
Same problem here when trying to run with angular universal

[code]

[2017-12-11 19:39] ihadeed commented on #114
Looks like your bundler/compiler doesn't like ES2015 modules, which means you should be using the UMD module that's in the `dist/umd` directory (instead of `dist/esm`).

- When are you experiencing this issue?
- What do you use to bundle your app?
- Is there a starter repo I can look at?

[2017-12-11 19:42] ihadeed commented on #113
The best thing to do is to inject the Facebook provider in the constructor of your app's main component. This ensures that Facebook's SDK is always initialized when your app is running. If you are just using the components (HTML tags), then you only need to inject the service once.

[2017-12-11 19:48] ihadeed commented on #112
Their SDK docs don't mention anything about an event listener on "Like" buttons. (see https://developers.facebook.com/docs/plugins/like-button). Therefore, that functionality is not within the scope of this module.

You could do it in a hacky way, by checking if the button exists in the DOM and then applying an event listener to it manually. However, this is still not a reliable method to know if

[2017-12-11 19:48] #112 closed

[2017-12-11 19:49] ihadeed commented on #108
You need to inject the Facebook service in (1) your app's main module, **OR** (2) on the specific page where you want the components to be visible.

[2017-12-11 19:49] #108 closed

[2017-12-11 19:50] ihadeed commented on #110
This package doesn't have any peer dependencies. So it cant be causing this.

[2017-12-11 19:50] #110 closed

[2017-12-11 19:53] ihadeed commented on #105
Are you using the latest version of Webpack?

[2017-12-11 19:55] ihadeed commented on #111
Not at the moment, this feature is in mind though and I will be experimenting with it in the next releases.

Async loading is possible, but it will be done via the ngx-facebook module, not manually (as their docs suggest).

[2017-12-11 19:55] #111 closed

[2017-12-11 19:56] ihadeed commented on #101
Duplicate of #102

[2017-12-11 19:56] #101 closed

[2017-12-11 19:56] ihadeed commented on #93
You need to inject the Facebook service in (1) your app's main module, OR (2) on the specific page where you want the components to be visible.

[2017-12-11 19:56] #93 closed

[2017-12-11 19:56] ihadeed commented on #103
You need to inject the Facebook service in (1) your app's main module, OR (2) on the specific page where you want the components to be visible.

[2017-12-11 19:56] #103 closed

[2017-12-12 10:34] MMilan19 commented on #114
@ihadeed , I have been working in Angular 4  and after integrate with angular universal and after that I facing this issue. I have commented ngx-facebook component because this plugin also created a problem. Please help me in both cases. Below you find "package.json" file.

package.json
-------------
{
    "name": "myapplication",
    "version": "0.0.0",
    "license": "MIT",
    "scripts": {

[2017-12-12 13:15] ihadeed commented on #114
You're using ts-node without passing a ts-config.json that has `"target": "es5",` in the compilerOptions.

[2017-12-12 13:38] MMilan19 commented on #114
@ihadeed, Sorry I am not getting your point.  Could you please give any example?
Here is my tsconfig.json file. may be it can help.

tsconfig.json
--------------
{
    "compileOnSave": false,
    "compilerOptions": {
        "outDir": "./dist/out-tsc",
        "sourceMap": true,
        "declaration": false,
        "moduleResolution": "node",
        "emitDecoratorMetadata": true,
        "experi

[2017-12-20 09:44] AmineBena17 opened #115 "Responsive for page plugin"
Hi,

is there a possibily to make the page plugin responsive ?

i've tried already to set `width` but it still no responsive when i change browser dimensions.

thanks

[2017-12-29 20:09] manuel-di-iorio commented on #74
Before closing this issue, I suggest adding the workaround in the documentation.
When using the routing, the `FB.XFBML.parse() method` used in the **AfterViewInit** is actually the only way to consistently fix the loading of components

[2018-01-04 02:16] lukasl2020 commented on #65
@ds-manish Firefox works well but it doesn't work on private browser properly

[2018-01-07 02:22] stephanegg opened #118 "Angular Universal - ReferenceError: window is not defined at new FBLikeComponent"
Hi,

ngx-facebook does not work within an angular universal app. Just add ngx-facebook to [Angular Universal Starter](https://github.com/angular/universal-starter) and you will get the error in the bottom.

Could you add a check for `window` variable? Please have a look [here](https://www.ryadel.com/en/angular-5-access-window-document-localstorage-browser-types-angular-universal/).

A nice workaro

[2018-01-15 01:28] juanlu91 commented on #88
I need this as well. Is there any recommended way or workaround at the moment?

[2018-01-15 18:27] keaeriksson commented on #88
@juanlu91 I ended up using the standard Facebook JavaScript SDK and implementing the solution described in the link in the original post. More code but works as expected.

[2018-01-19 14:18] gamunax commented on #77
[code]

my solution was to place a **cookie: true**
[code]

[2018-01-21 08:36] allabouttech0803 opened #119 "Facebook Oauth Page Pop Up is not closing after Clicking On Submit Button"
Hi All,

I am facing issue when I enter the FB credentials on the Pop UP Page, Can you please look into this

**Steps to Reproduce**

1) Open the localhost URL
2) Click on the Button to trigger the Login Authentication

But When I move all code inside of ```loginWithFacebook```  to ```ngOnInit``` It successfully authenticates and validates the User Properly and Pop Up Dialogue closes.

Can someone

[2018-01-21 13:31] #119 closed

[2018-01-21 13:31] allabouttech0803 commented on #119
After Changing to html below it worked hence closing the issue

 <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-secondary my-2 my-sm-0" type="button" (click)="loginWithFacebook()">Login</button>
    </form>

[2018-01-22 14:45] alex-chaliy commented on #42
How can I get user permissions for an app?

[2018-01-23 00:52] ihadeed commented on #42
@alex-chaliy
I think there's an end point like `/<app-id>/permissions` .. check their docs :)

[2018-01-23 11:42] Maritims commented on #106
This would be why: https://developers.facebook.com/docs/reference/javascript/FB.getLoginStatus

[2018-01-23 11:58] Maritims commented on #106
@ihadeed I've submitted a pull request for this in https://github.com/zyra/ngx-facebook/pull/120

[2018-01-24 06:19] 4j1th opened #121 "Load denied by X-Frame-Options"
hi, when I try to integrate this wrapper I got an error message

`Load denied by X-Frame-Options: https://www.facebook.com/v2.9/dialog/oauth?app_id=1976568725906357&channel_url=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2FlY4eZXm_YWu.js%3Fversion%3D42%23cb%3Df1526c6b84ee2ac%26domain%3Dwww.bigdaybookings.com%26origin%3Dhttps%253A%252F%252Fwww.bigdaybookings.com%252Ff29cde9daa230

[2018-01-24 06:21] 4j1th commented on #121
anything does with this part of URL `display=popup`?

[2018-01-26 14:51] tudolinux opened #122 "Notification when someone comments"
Hello, I am using the social plugin for comments on the page successfully, however, I do not get a notification on the face when some comment occurs, I have already configured my application and added myself as a moderator, in my component.ts I configure it like this ...

   initParams: InitParams = {
     appId: '235505660319064',
     xfbml: true,
     version: 'v2.10',
     status: true
   };

[2018-01-28 21:13] effs12 opened #124 "Refused to display 'https://web.facebook.com/xti.php?(etc..) ' in a frame because it set 'X-Frame-Options' to 'sameorigin'."
Hi I will leave it here and open it as an new issue I don't know where it came from I think it's from the new updates on Facebook developer ? or what? I don't have it before but it just came lately.

![image](https://user-images.githubusercontent.com/24982705/35487086-ba3b6450-04b2-11e8-9fe8-4bad4c8a40af.png)

you can also check the official ngx-facebook example [here](https://zyra.github.io/ngx-f

[2018-01-29 19:39] ihadeed commented on #124
I did check the example, don't see that error in the logs.

[2018-01-29 23:34] effs12 commented on #124
@ihadeed  hmmm ? thats weird hmmm amybe you should wait a few more seconds ?

![image](https://user-images.githubusercontent.com/24982705/35540171-a58fad44-058f-11e8-97cd-cd82a6645804.png)
otherwise it's just a problem mine ? ohh well i'll try to investigate it and send an updates here .

[2018-02-06 06:08] ankushbadlas commented on #24
Hello ,
I am not able to get email address when I use ths ngx-facebook in my component. Please see my code.
facebookLogin(){
    const options: LoginOptions = {
        return_scopes: true,
        enable_profile_selector: true
      };

     this.fb.login(options)
     .then((response: LoginResponse) => {
       this.fbData = response.authResponse.accessToken;
      console.log(this.fbData);

[2018-02-10 21:55] ssougnez opened #125 "FB.login() called when user is already connected."
Hello,

when the user tries to login while he already is, the error `FB.login() called when user is already connected.` appears in the console. I think this could be easily fixed with something like this:

[code]
I didn't test it but I guess that checking the connection state before calling login should remove the error from the log.

[2018-02-21 11:35] kiranpwt commented on #19
video share in facebook ... error occurs ReferenceError: FB is not defined
my code is see
function init_fb(){
             window.fbAsyncInit = function() {
                 app_id = document.getElementById('fb_app_id').value;
		    FB.init({
                      appId            : app_id,
                      autoLogAppEvents : true,
                      xfbml            : true,

[2018-02-21 11:36] kiranpwt opened #126 "ReferenceError: FB is not defined"
video share in facebook ... error occurs ReferenceError: FB is not defined
my code is see
function init_fb(){
window.fbAsyncInit = function() {
app_id = document.getElementById('fb_app_id').value;
FB.init({
appId : app_id,
autoLogAppEvents : true,
xfbml : true,
version : 'v2.12'
});
};

              (function(d, s, id){
                 var js, fjs = d.getElementsByTagName(s)[0];

[2018-02-28 12:02] anhlevfx opened #127 "Facebook comment not change when I change URL with angular 5 [routerLink]"
Hello, I try using your facebook comment. I put it in my ProductDetail module, when first time I load page, everything show perfectly, but when I change URL to new product information (of course the page not reload everything), comment facebook still appear with content of previous product. So, please help me handle this. Thank you

[2018-03-01 11:36] kartikbb commented on #91
I also go the same warning as indicated above by matheusdavidson but build completed.

And then when ran my node process for running universal app, I get the below error

var v = factory(!(function webpackMissingModule() { var e = new Error("Cannot find module \".\""); e.code = 'MODULE_NOT_FOUND'; throw e; }()), exports);

[2018-03-02 02:05] Noneway opened #128 "FB login In App Browser not working"
hello,
when I open  url in app browser then try to login, but is not working
however, use default browser (safari / chrome)  on mobile is ok

any ideas  can help?

I think can detect website if it in app browser then  call  default browser
but i dont how to do that.....

[2018-03-04 14:13] kartikbb commented on #91
Hi,
Anything on this? This has become a critical bug for us.

[2018-03-15 18:34] teteusantosgd commented on #128
Same problem

[2018-03-16 08:56] Noneway commented on #128
finally,  use FB OAuth with Customized API to solve my issue
not use ngx-facebook

[2018-03-22 15:34] murilobd commented on #111
Any news on that?

[2018-04-02 08:07] babyangel0307 opened #129 "Support https connection"
I found that Facebook was force restrict user using https connection to using the apis from 2018/04.
My app will facing an error from facebook:

Insecure Login Blocked:
You can't get an access token or log in to this app from an insecure page.
Try re-loading the page as https://

May i know how to enabled the secured mode or using https to connect?

[2018-04-04 14:09] tvl83 commented on #126
I am having the same problem. Fresh project. Included in modules the service and the facebook module. And tried it with just the service. Any help is appreciated.

[2018-04-04 14:43] babyangel0307 commented on #129
Thanks your reply, i have also try to disable this.
But Facebook mention that: All new apps created as of March 2018 have this setting on by default.
I have create a new fb app yesterday.
This button was disable and can not to toggle to turn off this function.

Ref: https://developers.facebook.com/docs/facebook-login/security/?locale=en_US#
See the Enforce HTTPS section.

[2018-04-04 15:22] tvl83 opened #130 "fb.api using picture edge"
I am trying to retrieve the profile pictures of friends using the app and I am getting a not valid json response error. I can do the same exact call via postmates and get a proper response and on the graph API explorer on facebook and I see the JSON response there, even with the access_token I get on my site.

It seems that the response to the picture using ngx-facebook has the response coming in

[2018-04-13 17:39] joscmw95 commented on #127
common issue when using Facebook plugins in SPA, similar to #74.
To fix this, you need to explicitly parse your plugin every time there are changes.
[code]

[2018-04-13 17:40] joscmw95 commented on #113
probably same as https://github.com/zyra/ngx-facebook/issues/127#issuecomment-381209599

[2018-04-18 00:25] wilson0506 opened #131 "AngularUniversal : Facebook Video Error"
ERROR TypeError: Cannot read property 'toString' of undefined
    at FBVideoComponent.set [as href] (main-client.js:1595)
    at updateProp (main-client.js:496)
    at checkAndUpdateDirectiveInline (main-client.js:496)
    at checkAndUpdateNodeInline (main-client.js:531)
    at checkAndUpdateNode (main-client.js:531)
    at prodCheckAndUpdateNode (main-client.js:538)
    at Object.updateDirectives

[2018-05-01 22:56] FedC commented on #101
I had to view the source of `src/providers/facebook.ts` to see that it is used this way:
[code]

[2018-05-04 12:11] hguaymas commented on #91
@kartikbb did you solve this? I have the same problem.

[2018-05-07 05:13] matiullah-netlinks opened #132 "Facebook like button not showing up"
Like button not showing up, and there is not any error.
`<fb-like href="https://github.com/zyra/ngx-facebook"></fb-like>
`

[2018-05-31 07:31] khaled83 commented on #74
Thanks @raymondtsung. The `fb.init(initParams);` approach solves similar problem in EmberJS by placing it inside Routes's `didTransition`.

[2018-06-01 06:08] MurhafSousli opened #133 "Is this project abandoned?"

[2018-06-02 20:17] ihadeed commented on #133
No, it's not abandoned.

[2018-06-05 12:32] #94 closed

[2018-06-06 00:56] keithlee7088 opened #134 "Invariant Violation: gkx(...): Unknown"
Greetings,

I've just noticed there's an error while loading the FB script. Error log shown from Chrome console as below.

Is this due to Facebook's SDK JS update or the plugin?

It happens on both Angular 5.x and Angular 6.x, it didn't happen before this. Thanks!

![image](https://user-images.githubusercontent.com/29912022/41010005-672bd212-6967-11e8-8379-21fd5156e25c.png)

**Update**
Oh ya, I'm

[2018-06-07 03:58] vortexkd commented on #94
Did you find any solution to this?

[2018-06-07 05:33] keithlee7088 commented on #134
07/06/2018

Ignore this issue. Seems no problem anymore when tested again today. Thanks!

[2018-06-07 05:33] #134 closed

[2018-06-09 17:55] #133 closed

[2018-06-13 22:04] jaruesink commented on #88
@ihadeed guess this repo is stale now and I should remove this from my project or will it this get updated again? I'm running into this issue now.

@keaeriksson do you have an example of what you did that I could see? just in case you're feeling like sharing :-)

[2018-06-22 22:10] Ruli-AlSe commented on #42
@ihadeed  thank you so much for your example, helped me a lot!!

[2018-06-27 13:04] EkiGui commented on #106
@Maritims Thanks a lot for the fix !
Do you have any idea when this version will be available on npm ?

[2018-06-28 03:08] wacilpong opened #135 "support messenger sharing"
## Issue
this lib isn't support messenger sharing function. In FB developeres page, it uses just window open function to share in messenger like this :

[code]

So, that is the only way to share with messenger? If not, tell me the other way in ngx-facebook or please create function to ngx-facebook.

[2018-07-20 17:33] ezebc182 commented on #121
@4j1th Any news???

[2018-07-21 03:06] 4j1th commented on #121
I use Cordova environment for development, it overwrites `window.open()` with inAppBrowser, this cause X-Frame error in my situation.

[2018-07-26 14:10] danielsogl commented on #71
Reopen the issue if you still have this problem.

[2018-07-26 14:10] #71 closed

[2018-07-26 14:11] danielsogl commented on #76
Reopen the issue if you still have this problem.

[2018-07-26 14:11] #76 closed

[2018-07-26 14:12] danielsogl commented on #79
Reopen the issue if you still have this problem.

[2018-07-26 14:12] #79 closed

[2018-07-26 14:12] danielsogl commented on #85
Reopen the issue if you still have this problem.

[2018-07-26 14:12] #85 closed

[2018-07-26 14:14] #92 closed

[2018-07-26 14:14] danielsogl commented on #97
Reopen the issue if you still have this problem.

[2018-07-26 14:14] #97 closed

[2018-07-26 14:15] danielsogl commented on #100
Reopen the issue if you still have this problem.

[2018-07-26 14:15] #100 closed

[2018-07-26 14:16] danielsogl commented on #105
Reopen the issue if you still have this problem.

[2018-07-26 14:16] #105 closed

[2018-07-26 14:17] danielsogl commented on #106
Im working on release 2.5. I try to release it next week with more fixes

[2018-07-26 14:19] danielsogl commented on #114
Reopen the issue if you still have this problem.
I can't reproduce this error with the latest release.

[2018-07-26 14:19] #114 closed

[2018-07-26 14:21] danielsogl commented on #126
Reopen the issue if you still have this problem.
I will update the docs with the next release to make it cleaner what is to do

[2018-07-26 14:21] #126 closed

[2018-07-26 14:23] danielsogl commented on #132
Reopen the issue if you still have this problem.

[2018-07-26 14:23] #132 closed

[2018-07-26 21:11] it-discovery commented on #100
If I open this page now and click 'Login' button new window pops up with an error message: "App Not Setup: This app is still in development mode, and you don't have access to it. Switch to a registered test user or ask an app admin for permissions."

[2018-08-17 21:53] simeyla commented on #108
Can we please get the documentation updated?
Quickstarts should just work.  People get super frustrated when they don't for something simple. Would be very helpful if the following was clarified.

Currently it says:

However nothing at all works unless I do this.

Please fix the docs!

In addition do I have to do in this EVERY component. That's AWFUL. The FB API has XFBML.parse() which is meant to

[2018-08-17 21:56] simeyla commented on #74
What a complete waste of time this API is.
The component should be able to handle all this by itself.

Otherwise why am I even using it?

[2018-08-17 22:03] simeyla opened #139 "Implement XFBML.parse throughout the API"
XFBML.parse needs to run by itself, as necessary whenever a new component is added.

This should be extremely easy to do, just get the ElementRef in (probably) the `ngOnViewInit` handler and run XFBML.parse only on that node.

The current docs seem to encourage bad behavior by only suggesting the use of `FB.init()` at the component level. This will probably have performance impact.

Sorry to be me

[2018-08-29 05:27] warjohn123 opened #140 "Sorry, this feature isn't available right now: An error occurred while processing this request. Please try again later."
Hi,

When I use method: share, given with the valid appId and other parameters, it returns this error with the pop up dialog:

Sorry, this feature isn't available right now: An error occurred while processing this request. Please try again later.

Awesome library :)

Thanks

[2018-09-28 13:17] Dando1996 commented on #126
I'm having the same issue with a fresh project. In Angular 6.
The error I'm getting is:
 `Uncaught (in promise): ReferenceError: FB is not defined
ReferenceError: FB is not defined
    at FacebookService.push../node_modules/ngx-facebook/dist/esm/providers/facebook.js.FacebookService.init (facebook.js:32)
    at new AppComponent (app.component.ts:18)`

In my index.html file:

`<!doctype html>
<html

[2018-09-28 14:38] Dando1996 opened #142 "Reference Error: FB is not defined. (Angular 6)"
I'm having the same issue as others with a fresh project. In Angular 6.
The error I'm getting is:

 `Uncaught (in promise): ReferenceError: FB is not defined
ReferenceError: FB is not defined
    at FacebookService.push../node_modules/ngx-facebook/dist/esm/providers/facebook.js.FacebookService.init (facebook.js:32)
    at new AppComponent (app.component.ts:18)`

In my index.html file:

[code]

In

[2018-09-28 19:36] danielsogl commented on #126
Check out my Angular 6 PR: https://github.com/zyra/ngx-facebook/pull/141
Maybe it's fixed with the Angular 6 compatible release.

[2018-10-06 13:51] dolanmiu opened #143 "Error in documentation"
https://zyra.github.io/ngx-facebook/facebook-module/

should be import from 'ngx-facebook' rather than ng2

[2018-10-09 12:47] sudarshandk opened #144 "How to use App Events?"
Hi,

How to use Facebook App Events?

App Events:
https://developers.facebook.com/docs/app-events/getting-started-app-events-web#predefined-events

Please help me with this.

Thanks

[2018-11-16 14:51] pelcomppl commented on #94
@vortexkd @nioperas06 Did you find any solution to this?

[2018-11-16 14:52] pelcomppl opened #145 "Get code instead of accessToken"
Hi
I try to use Facebook login in my application.
I want to login on frontend (Angular) get the `code` and sent it to api to get refresh token.
How to get code instead of accessToken?

[2018-11-16 15:09] vortexkd commented on #94
@pelcomppl I ended up using the authToken that is returned, and using this to validate it.
https://developers.facebook.com/docs/graph-api/reference/debug_token/

[2018-11-19 05:30] akshaybhagwat76 commented on #104
Why this is not working for video objects..
Please help anyone.

const params: UIParams = {
      method: 'share_open_graph',
      action_type: 'og.shares',
      action_properties: JSON.stringify({
          object: {
              'og:url': url,
              'og:title': 'OG Title',
              'og:description': 'OG Description',
              'og:video': 'http://www.youtube.com/v/k86xpd26M2g

[2018-11-26 10:10] SoftwareAndOutsourcing opened #146 ""Unexpected token import" error with Angular Universal"
Hi,

I'm getting an error with the ngx-facebook with Angular Universal. Steps to reproduce:

1. `git clone https://github.com/angular/universal-starter.git`.
2. `npm i`.
3. Add ngx-facebook as described in the docs.
4. `npm run build:ssr && npm run serve:ssr`.

Result: I get an `SyntaxError: Unexpected token import` error.

I created a demo repository in https://github.com/SoftwareAndOutsourcing/u

[2018-12-14 11:01] pilot2981 commented on #126
try initialize fb initParams inside "isPlatformBrowser(this.platformId)"

`import { PLATFORM_ID, Inject } from '@angular/core';
import { isPlatformBrowser } from '@angular/common';
constructor(@Inject(PLATFORM_ID) private platformId: Object) {

    if(isPlatformBrowser(this.platformId)) {
      let initParams: InitParams = {
        appId: '{app-id}',
        xfbml: true,
        cookie: true,

[2019-01-17 01:58] skidvd opened #147 "fb-page does not display inside *ngIf or ng-template"
Hi have added this inside the index.html:

`<script type="text/javascript" src="https://connect.facebook.net/en_US/sdk.js"></script>`

And also added this inside the app.module:

[code]
And also added this inside a component template:

`<fb-page href="https://facebook.com/zyramedia" tabs="events,timeline,messages"></fb-page>`

If the <fb-page> is directly included in the component's template, then

[2019-02-08 07:25] SimranChawla1995 opened #148 "How to use fb-video in lazy loaded modules?"

[2019-02-08 07:30] SimranChawla1995 commented on #148
I imported FacebookModule in my home module & FacebookService in its providers. Initialized the service in its component but when <fb-video> in html,it's not showing anything.While if i use it normally ,import all of these in app.module . It works fine.I'm not getting where is the problem. Please help.

[2019-02-13 04:50] qqnc commented on #114
have the same issue.

[2019-02-13 04:52] qqnc commented on #146
any solution for this error?

[2019-02-14 16:11] Big-Silver commented on #114
I also faced same issue.
@ihadeed would you provide how to use *UMD* module instead of *ESM*?

[2019-02-14 16:52] Big-Silver commented on #114
I fixed that issue using import module and service from **ngx-facebook/dist/umd** instead of ** ngx-facebook** but after that I got another issue.

[code]

[2019-02-22 18:35] lynx-r commented on #148
+

[2019-02-24 16:45] #148 closed

[2019-02-25 12:58] lynx-r commented on #148
This comment helped https://github.com/zyra/ngx-facebook/issues/74#issuecomment-302836161

[2019-02-25 13:02] SimranChawla1995 commented on #148
I figured the problem was that fb-video was not getting initialized as I did it in constructor. Resolved now.

[2019-02-27 08:27] HighSoftWare96 opened #149 "Add support for new Messenger Customer Chat SDK"
It would be nice to add to this package the possibility to integrate the new Customer chat SDK platform. Right now this can be added only manually with plain javascript because the `sdk.js` is no more valid for this platform and instead another script has to be loaded and in case someone has only to integrate the Messenger in the Angular application this package appear to be useless.

![image](htt

[2019-02-27 13:22] JohanRin opened #150 "Maintenance?"
Anyone still maintain this repo?

[2019-03-17 09:06] SimranChawla1995 opened #151 "How to make fb-video mobile responsive ?"

[2019-03-17 09:10] SimranChawla1995 commented on #151
It's adding top padding. I'm not able to remove it from div with class
._3wo2._7gxm{
padding-top: 89px
}

[2019-03-20 20:18] yofr4nk commented on #77
I had the same problem, try this one:

[code]

[2019-04-11 17:41] khushaldave2 opened #152 "Facebook Like button not showing on browser"
Facebook Like button not showing up and there is no error showing in console and terminal. could you pls guide us what the issue?

Angular CLI: 6.2.4
Node: 10.10.0

[2019-04-16 08:20] gambheera commented on #142
I'm also having the same issue.

[2019-04-24 07:49] HighSoftWare96 commented on #114
#146

[2019-04-24 08:00] HighSoftWare96 commented on #146
Try importing the library directly from ngx-facebook/dist/umd

[2019-04-30 11:36] SimranChawla1995 opened #153 "How to pause particular fb-video in for loop ?"

[2019-06-20 06:31] aazo11 commented on #146
I was facing the same problem so I tried the suggested solution of importing from /dist/umd. Then when I import the library directly I get a number of warnings similar to the following when I do ng build --prod:

WARNING in ./node_modules/ngx-facebook/dist/umd/components/fb-quote/fb-quote.js 6:24-31
Critical dependency: require function is used in a way in which dependencies cannot be statically e

[2019-07-13 08:40] #150 closed

[2019-07-16 13:19] craigcosmo commented on #149
@HighSoftWare96 Do you have workaround?

RIght now I'm using `this.facebookService.CustomerChat.showDialog();` it give me error `showDialog()` is undefined. I guess because of this issue ?

[2019-07-19 12:19] Davicito81 opened #154 "I got an issue with Angular 7 with the Frameworks: Inonic 4/Cordova"
Hello dear community of ngx-Facebook.

I'm trying to implement the ngx-favebook libary according to the instruction on:
https://github.com/zyra/ngx-facebook
in my project with  Angular 7.3.9, Ionic 4
First I allready have installed the facbook sdk with the following comand line before:
npm i --save ngx-facebook to my Ionic 4 project

And I have allready added this lines to my app.module.ts
`...
im

[2019-07-22 20:48] kleeb commented on #24
I am having the same problem.
Facebook Graph Explorer throws some debug message

`The field 'email' is only accessible on the User object after the user grants the 'email' permission.`

I have scope email and other addons added, but the user is asked only about his name and profile picture. It happens on every version. Refreshing token in explorer solves it, but no idea whats wrong inside the SDK.

[2019-07-24 07:51] HighSoftWare96 commented on #149
Sorry but the only workaround I've found was to use the embed chat code inside the index file...

[2019-07-24 14:11] craigcosmo commented on #149
@HighSoftWare96 Thanks.

I put the init code in the index.html

[code]

Then in my components, I use it like this

[code]

And I got the error

[code]

I miss something?

[2019-07-25 08:51] HighSoftWare96 commented on #149
You have to add the Facebook script

Il mer 24 lug 2019, 16:11 craigcosmo <notifications@github.com> ha scritto:

[2019-07-26 00:50] bostondevin opened #155 "Modifying the attributes after the component is loaded does not reload the component"
I was trying to modify some attributes with another control on the screen and it doesn't update the component with the new values real-time.

[2019-08-12 19:15] raquelsf commented on #142
I'm also having the same issue.

[2019-09-01 13:37] darshana-prasad opened #156 "Prod mod does not work load services"
https://stackoverflow.com/questions/57222078/angular-prod-mode-does-not-inject-facebook-service?noredirect=1#comment100948890_57222078

[2019-10-16 13:08] SabirHossain opened #157 "Post to user wall"
How can I port to user wall ?
How Can I use share or post without opening a dialog?
and how do I get an access_token that never expire or with a long expire time?
Thank you.

[2019-11-06 16:50] sergey-morenets opened #158 "Not compiled after Angular 9.0.0-next.11"
Hi

Is this project still maintained?  After Renderer type was removed in Angular 9 my project doesn't compile because ngx-facebook actively uses Renderer. Any plans to migrate to Renderer2?

[2019-11-08 11:21] omahjoub commented on #158
Same problem here with Angular  `9.0.0-rc.1` ! Will this project be updated?

[2019-11-08 17:07] sergey-morenets commented on #158
@omahjoub Let's hope so.
However the last public version was released 3 years ago.

[2019-11-28 12:02] AndreaVitale commented on #128
@Noneway could you please provide an example on how to fix this?

[2019-12-28 07:32] tebantebanteban commented on #146
@aazo11  do you find solution??

[2020-01-24 17:27] jemys89 commented on #158
Same problem

[2020-02-07 18:59] filipemendes1994 commented on #158
Other here :(

[2020-02-07 20:23] jemys89 commented on #158
Provisionally, you can use this repository https://github.com/jemys89/ngx-facebook.git

[2020-02-08 05:28] sergey-morenets commented on #158
Thanks, but how can we use it? What is package name in NPM repository ?

[2020-02-08 09:48] jemys89 commented on #158
Provisionally,
"ngx-facebook": "git+https://github.com/jemys89/ngx-facebook.git",

[2020-02-08 13:47] taketomatsunaga opened #159 "Posts not rendered"
Hi,
I have been develop profile page showing facebook posts.
But my posts often does not render and not showing anything.

Angular CLI: 8.0.1
Node: 12.14.1
OS: linux x64
Angular: 8.0.0

in my profile page, I have following code.
[code]

the app-ifm-fb-post directive is below.
[code]

When I run the app, I can  see the html codes.
however nothing will be shown except post links for testing.

[code]

[2020-02-10 00:59] taketomatsunaga commented on #159
Can we call `FB.XFBML.parse()` manually using this library?

[2020-02-13 09:09] mmiedzianyy commented on #91
Hey, I've encountered the same problem..
I did a workaround for this solution, inspired by jw-angular-socials-plugins https://jasonwatmore.com/post/2018/06/01/angular-2-social-sharing-buttons-for-facebook-google-plus-twitter-linkedin-and-pinterest and it's working with SSR.
Add facebook initialization to your app.component constructor providing your appId.
`constructor() {
 if (isPlatformBrowser(t

[2020-02-28 10:14] vuonghuuthien commented on #126
Add to your index.html
<script type="text/javascript" src="https://connect.facebook.net/en_US/sdk.js"></script>

[2020-03-03 13:43] dalu commented on #158
Oh boy that Angular upgrade sure messed up a lot of things. Thanks jemys89 for the temporary fixes

[2020-03-04 08:00] sergey-morenets commented on #158
@dalu I migrated to angularx-social-login. It's similar to ngx-facebook, but also supports Google authentication and Angular up to v9.

[2020-03-04 10:18] rejneesh1 commented on #158
Same issue after upgraded to angular  9

[2020-03-05 13:03] dalu commented on #158
@sergey-morenets thanks, in my case I just needed the comments functionality. :)
For oidc/oauth2 I like https://github.com/manfredsteyer/angular-oauth2-oidc which is a general purpose library I tend to use with the keycloak idp. So, different use cases :) In keycloak I can then use federation, aka login via google facebook github, generic etc.
There's also this nice library https://github.com/dami

[2020-03-12 15:41] azkarmoulana commented on #146
@aazo11 @tebantebanteban found any solution?

[2020-03-12 15:51] azkarmoulana commented on #72
@ihadeed can you suggest any solution for this issue with ngx-facebook module with Angular Universal,
https://github.com/zyra/ngx-facebook/issues/146#issuecomment-503894982

simply I get this error when I run the command `npm run serve:ssr`.
Angular Version - 8.3.8

[2020-03-22 13:07] docwhite commented on #106
@danielsogl I would really appreciate this fixes to be released on npm :) Is there anything I can help with?

[2020-04-13 18:59] saifeddinhajji commented on #114
ERROR in ./node_modules/ngx-facebook/__ivy_ngcc__/dist/esm/components/fb-video/fb-video.js 194:12-20
"export 'Renderer' was not found in '@angular/core'

[2020-04-19 18:44] petriadrian commented on #158
Same issue, any fix?

[2020-04-19 19:09] sergey-morenets commented on #158
@petriadrian  I haven't received any response to my original question, so I guess no fix will be provided

[2020-04-27 13:24] szymsza commented on #151
I get the same error with just pure FB SDK only on touch devices - weird situation. This workaround works for me

[code]
It increases height of the iframe by 89 pixels and moves it 89 pixels up, negating the effect of the padding.

However, this might not work in the future if the SDK changes.

[2020-05-12 09:27] MickL commented on #158
Seems like this is no more maintained @ihadeed ... Can we just switch to  https://github.com/jemys89/ngx-facebook ? @jemys89 could you open the issue tracker and release your fork to npm?

[2020-05-12 22:22] nadeemse commented on #158
Same issue here, When you are planning to make it compatible with Angular 9.

[2020-05-12 22:36] jemys89 commented on #158
@MickL Yes!

[2020-05-12 23:13] jemys89 commented on #158
npm i @jemys89/ngx-facebook

[2020-05-13 00:38] ocastelblanco commented on #158
Thanks @jemys89 !

[2020-06-20 07:58] surajaddanki commented on #142
I'm also having the same issue how can we clear this error

[2020-07-03 00:40] jefcoserrca commented on #159
did you resolve it??
'cause i have the same issue, i cant rederer any facebook component in html, buut i get successfully responses of Facebook login or Facebook api using 'facebookService: FacebookService'.

[2020-07-03 03:02] taketomatsunaga commented on #159
@jefcoserrca

Yes I did.
Please check the following post.

https://stackoverflow.com/questions/60143423/angular-does-not-render-facebook-post-with-browser-back-forward-button

[2020-07-03 03:03] #159 closed

[2020-07-03 05:03] jefcoserrca commented on #159
congrats! ! and thank you very much!

best regards!

[2020-08-28 05:23] pachu4u opened #165 "fb_Page NOT WORKING with URL as variable"
Hi,

I am stuck with this strange issue.

This DOES NOT WORK
<fb-page href="{{data.facebook_url}}" tabs="timeline" ></fb-page>
<fb-page [href]="data.facebook_url" tabs="timeline" ></fb-page>
I am sure the variable has the valid url of facebook

However hardcoding the href works
<fb-page href="https://facebook.com/facebook" tabs="timeline"></fb-page>

Thanks. Appreciate your help in this regard

[2020-08-28 05:48] pachu4u commented on #165
attaching console logs
![Screen Shot 2020-08-28 at 11 16 47](https://user-images.githubusercontent.com/8116865/91525936-2d82e600-e920-11ea-9eae-c5926896a2a6.png)

[2021-01-25 08:55] TheRanaEhtisham commented on #74
I would recommend this solution
index.html
` <div id="fb-root"></div>`
   ` <script  async  defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v9.0" nonce="XgepUhS8"></script>`

comments.html
`  <div  class="fb-comments"  [attr.data-href]="url"  data-width="100%"  data-numposts="5"></div>`

and in comments.ts file
`declare var FB: any;`
`ngOnInit(): void {

[2021-02-02 10:41] AColo89 commented on #165
@pachu4u I had the same issue. My workaround has been to add the href attribute to <fb-page> tag when my component was stable and before running this script: `FB.XFBML.parse();`

[2021-04-29 11:30] rahmasay opened #166 "Clicking on cancel icon instead of continue with ... in dialog login page automatically login in"
when clicking to the icon cancel in the dialog login facebook page it automatically log in to
![Issue](https://user-images.githubusercontent.com/36662720/116544136-a8086900-a8e6-11eb-8b56-54023cd9dc7a.png)
 facebook page [](url)

[2021-04-30 17:23] parodenas opened #167 "wrapper not working"
Hello, I have a project where I use "Login" and "fb-post" from this wrapper and yesterday both were working fine, but today all of the sudden they stopped working. Do you have any idea of what happened or if something changed with fb js sdk?

thanks in advanced!

[2021-04-30 18:37] e-Neural commented on #167
Hi,

I change:
<script type="text/javascript" src="https://connect.facebook.net/pt_BR/sdk.js"></script>
to
<script type="text/javascript" src="https://connect.facebook.net/pt/sdk.js"></script>

And Work!

[2021-05-01 08:40] parodenas commented on #167
thanks @e-Neural for you answer, it was something related with a FB outage affecting JS SDK and JS Social Plugins, but is now solved! thanks 👍

[2021-05-01 08:40] #167 closed, assigned to nobody

[2022-01-07 09:34] tikattan opened #168 "not able to focus on current facebook login windows popup"
currently there is no way to focus on the facebook popup.

if I call fb.login twice, it will open 2 popup. when I click login button, I would like to focus on the login popup instead if the login popup exists.

[code]

[2022-04-22 04:44] Kailash-dev opened #169 "share dialog close"
after successfully posting the link dialog should give response and how can we close the share dialog

[2022-07-06 16:52] qanuj commented on #165
`<fb-page [attr.href]="data.facebook_url" tabs="timeline">` should work.

[2022-07-15 10:07] artix-paladin commented on #147
@skidvd Hello, did you found any solution for this. I have the same problem with fb-video component !!

[2022-07-25 01:22] datpt46 commented on #77
solved my problem, have a nice day :)